<include file="Public/header"/>

		<!-- basic styles -->

		<link href="__PUBLIC__/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome.min.css" />

		<!--[if IE 7]>
		  <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome-ie7.min.css" />
		<![endif]-->

		<!-- page specific plugin styles -->

		<!-- fonts -->

		<link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/google_font_css.css">

		<!-- ace styles -->

		<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-rtl.min.css" />
		<link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-skins.min.css" />

		<!--[if lte IE 8]>
		  <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-ie.min.css" />
		<![endif]-->

		<!-- inline styles related to this page -->

		<!-- ace settings handler -->

		<script src="__PUBLIC__/Admin/assets/js/ace-extra.min.js"></script>


		<style type="text/css">
			button a{color: white;font-weight: bold;}
		</style>

		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->

		<!--[if lt IE 9]>
		<script src="__PUBLIC__/Admin/assets/js/html5shiv.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/respond.min.js"></script>
		<![endif]-->
	</head>

	<body>
		<div class="navbar navbar-default" id="navbar">
			<include file="Public/navbar"/>
		</div>

		<div class="main-container" id="main-container">
			<script type="text/javascript">
				try{ace.settings.check('main-container' , 'fixed')}catch(e){}
			</script>

			<div class="main-container-inner">
				<a class="menu-toggler" id="menu-toggler" href="#">
					<span class="menu-text"></span>
				</a>

				<div class="sidebar" id="sidebar">
					<include file="Public/left"/>
				</div>

				<div class="main-content">
					<div class="breadcrumbs" id="breadcrumbs">
						<script type="text/javascript">
							try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
						</script>

						<ul class="breadcrumb">
							<li>
								<i class="icon-home home-icon"></i>
								{$cur_controller_name}
							</li>
							<li class="active">{$cur_action_name}</li>
						</ul><!-- .breadcrumb -->

						<div class="nav-search" id="nav-search">
							<form class="form-search">
								<span class="input-icon">
									<input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
									<i class="icon-search nav-search-icon"></i>
								</span>
							</form>
						</div><!-- #nav-search -->
					</div>

					<div class="page-content">
						<div class="page-header">
							<h1>
								分类管理
								<small>
									<i class="icon-double-angle-right"></i>
									分类列表
									<select name="pid_color" class="pid_color">
					                    <option value="">请选择分类</option>
					                    {$select}
					                </select>
					                （显示该分类的下一级分类）
								</small>
							</h1>
						</div><!-- /.page-header -->

						<div class="row">
							<div class="col-xs-12">
								<!-- PAGE CONTENT BEGINS -->

								<div class="row">
									<div class="col-xs-12">
										<div class="table-responsive">
											<table id="sample-table-1" class="table table-striped table-bordered table-hover">
												<thead>
													<tr>
														<th class="center">排序</th>
														<th>ID</th>
														<th class="hidden-480">分类名称</th>
														<th class="hidden-480">level层级</th>
														<th>操作</th>
													</tr>
												</thead>
												<tbody>
													{$html_tree}
												</tbody>
											</table>
										</div><!-- /.table-responsive -->
									</div><!-- /span -->
								</div><!-- /row -->
							</div><!-- /.col -->
						</div><!-- /.row -->
					</div><!-- /.page-content -->
				</div><!-- /.main-content -->

				<div class="ace-settings-container" id="ace-settings-container">
					<div class="btn btn-app btn-xs btn-warning ace-settings-btn" id="ace-settings-btn">
						<i class="icon-cog bigger-150"></i>
					</div>

					<div class="ace-settings-box" id="ace-settings-box">
						<div>
							<div class="pull-left">
								<select id="skin-colorpicker" class="hide">
									<option data-skin="default" value="#438EB9">#438EB9</option>
									<option data-skin="skin-1" value="#222A2D">#222A2D</option>
									<option data-skin="skin-2" value="#C6487E">#C6487E</option>
									<option data-skin="skin-3" value="#D0D0D0">#D0D0D0</option>
								</select>
							</div>
							<span>&nbsp; Choose Skin</span>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-navbar" />
							<label class="lbl" for="ace-settings-navbar"> Fixed Navbar</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-sidebar" />
							<label class="lbl" for="ace-settings-sidebar"> Fixed Sidebar</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-breadcrumbs" />
							<label class="lbl" for="ace-settings-breadcrumbs"> Fixed Breadcrumbs</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-rtl" />
							<label class="lbl" for="ace-settings-rtl"> Right To Left (rtl)</label>
						</div>

						<div>
							<input type="checkbox" class="ace ace-checkbox-2" id="ace-settings-add-container" />
							<label class="lbl" for="ace-settings-add-container">
								Inside
								<b>.container</b>
							</label>
						</div>
					</div>
				</div><!-- /#ace-settings-container -->
			</div><!-- /.main-container-inner -->

			<a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">
				<i class="icon-double-angle-up icon-only bigger-110"></i>
			</a>
		</div><!-- /.main-container -->

		<!-- basic scripts -->

		<!--[if !IE]> -->

		<script src="__PUBLIC__/Admin/assets/js/jQuery1.7.2for_live.min.js"></script>

		<!-- <![endif]-->

		<!--[if IE]>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<![endif]-->

		<!--[if !IE]> -->

		<script type="text/javascript">
			window.jQuery || document.write("<script src='__PUBLIC__/Admin/assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");
		</script>

		<!-- <![endif]-->

		<!--[if IE]>
<script type="text/javascript">
 window.jQuery || document.write("<script src='__PUBLIC__/Admin/assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");
</script>
<![endif]-->

		<script type="text/javascript">
			if("ontouchend" in document) document.write("<script src='__PUBLIC__/Admin/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
		</script>
		<script src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/typeahead-bs2.min.js"></script>

		<!-- page specific plugin scripts -->

		<script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.custom.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/bootbox.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/jquery.easy-pie-chart.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/jquery.gritter.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/spin.min.js"></script>


		<script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.bootstrap.js"></script>

		<!-- ace scripts -->

		<script src="__PUBLIC__/Admin/assets/js/ace-elements.min.js"></script>
		<script src="__PUBLIC__/Admin/assets/js/ace.min.js"></script>

		<!-- inline scripts related to this page -->

		<script type="text/javascript">
			jQuery(function($) {
				var oTable1 = $('#sample-table-2').dataTable( {
				"aoColumns": [
			      { "bSortable": false },
			      null, null,null, null, null,
				  { "bSortable": false }
				] } );
				
				
				$('table th input:checkbox').on('click' , function(){
					var that = this;
					$(this).closest('table').find('tr > td:first-child input:checkbox')
					.each(function(){
						this.checked = that.checked;
						$(this).closest('tr').toggleClass('selected');
					});
						
				});
			
			
				$('[data-rel="tooltip"]').tooltip({placement: tooltip_placement});
				function tooltip_placement(context, source) {
					var $source = $(source);
					var $parent = $source.closest('table')
					var off1 = $parent.offset();
					var w1 = $parent.width();
			
					var off2 = $source.offset();
					var w2 = $source.width();
			
					if( parseInt(off2.left) < parseInt(off1.left) + parseInt(w1 / 2) ) return 'right';
					return 'left';
				}

				//排序
				$('body').on('blur' ,'.sort_input', function(){
					var _id = $(this).attr('data-id');
					var _sort=$(this).val();
					
			      	$.ajax({  
			      	    async:false,
			      	    type:'post',  
			      	    url : "{:U('Admin/Type/ajax_sort')}",
			      	    dataType : 'json',
			      	    data:{'id':_id,'sort':_sort},
			      	    success  : function(json) { 
			      	        if(json.code==0){
			      	            
			      	        }else{
			      	            alert(json.msg);
			      	        }
			      	    },
			      	    error  : function(json) {  
			      	        alert(json.msg);
			      	    }  
			      	});  
				});
			})
		</script>


		<!-- my.js -->
<script type="text/javascript">
	$(function(){
		//添加子
		$('body').on('click','._add',function(){
		  var self=$(this);
		  var level=parseInt(self.attr('data-level'));
		  var pid=self.attr('data-pid');
		  var icon='';
		  for (var i = level; i >= 0; i--) {
		    icon+='&nbsp;&nbsp;&nbsp;&nbsp;';
		  };
		  icon+='└─';
		  var html='<tr class="tr">'
		                  +'<td align="center"><input type="hidden" value="'+pid+'" name="pid"><input type="text" value="0" size="3" name="sort"></td>'
		                  +'<td align="center"></td>'
		                  +'<td >'+icon+'<input type="text" name="title"><a href="javascript:void(0)" class="_save">保存</a></td>'
		                  +'<td align="center"></td>'
		                  +'<td align="center"></td>'
		                  +'<td align="center"></td>'
		                +'</tr>';
		  self.closest(".tr").after(html);
		});

		//保存子
		$('._save').live('click',function(){
		  var self=$(this);
		  var _tr=self.closest(".tr");
		  $.ajax({
		    url:'?s=/Admin/Type/add',
		    type:'post',
		    data:{sort:_tr.find("input[name='sort']").val(),title:_tr.find("input[name='title']").val(),pid:_tr.find("input[name='pid']").val()},
		    success:function(data){
		      if(data.status=='1'){
		        level=data.data.level-1;
		        var icon='';
		        for (var i = level; i >= 0; i--) {
		          icon+='&nbsp;&nbsp;&nbsp;&nbsp;';
		        };
		        var html='<tr class="tr">'
		                    +'<td align="center"><input data-id="'+data.data.id+'" type="text" class="sort_input" value="'+data.data.sort+'" size="3" name="sort['+data.data.id+']"></td>'
		                    +'<td align="center">'+data.data.id+'</td>'
		                    +'<td >'+icon+'├─ '+data.data.title+'</td>'
		                    +'<td >'+data.data.level+'</td>'
		                    +'<td>'
                                +'<button class="btn btn-xs btn-success"><a href="javascript:void(0)" data-pid="'+data.data.id+'" data-title="'+data.data.title+'" data-level="'+data.data.level+'" class="_add">添加子分类</a>'
                                    +'<i class="icon-ok bigger-120"></i>'
                                +'</button>'

                                +'<button class="btn btn-xs btn-info"><a href="?s=/Admin/Type/edit/id/'+data.data.id+'/pid/'+data.data.pid+'">修改</a>'
                                    +'<i class="icon-edit bigger-120"></i>'
                                +'</button>'

                                +'<button class="btn btn-xs btn-danger"><a class="del" data-id="'+data.data.id+'" href="javascript:void(0)">删除</a>'
                                    +'<i class="icon-trash bigger-120"></i>'
                                +'</button>'
                            +'</td>'
		                  +'</tr>';
		        _tr.after(html);
		        _tr.remove();
		      }
		    }
		  });
		});

		//删除
		  $(".del").on(ace.click_event, function() {
		  	var self=$(this);
		  	var _tr=self.closest(".tr");
			bootbox.confirm("你确定要删除吗?", function(result) {
				if(result) {
					$.ajax({
				        url:'?s=/Admin/Type/del',
				        type:'post',
				        data:{id:self.attr('data-id'),'adas':'asdas'},
				        success:function(data){
				          if(data.status=='1'){
				            _tr.remove();
				          }else{
				            // popMsg(data.info,2,'error');
				            bootbox.dialog({
				            	message: data.info,
				            	buttons: 			
				            	{
				            		"danger" :
				            		{
				            			"label" : "Danger!",
				            			"className" : "btn-sm btn-danger",
				            			"callback": function() {
				            				//Example.show("uh oh, look out!");
				            			}
				            		}, 
				            	}
				            });
				          }
				        }
				    });
				}
			});
		  });
		});
	</script>


<form id="pid_color_form" method="post" action="">
	<input type="text" name="pid_color" style="display:none;" class="input_pid_color" value="">
</form>		
<script>
$(function(){
		$(".pid_color").change(function(){
			$('form#pid_color_form input.input_pid_color').val($(this).val());
			$('form#pid_color_form').submit();
		});
});
</script>
	</body>
</html>
