<include file="Public/header"/>
    <!-- basic styles -->
    <link href="__PUBLIC__/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/chosen.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/daterangepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/colorpicker.css" />
    
    <!-- 模块jqgrid  start -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ui.jqgrid.css" />
    <!-- 模块jqgrid  end -->

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/google_font_css.css">

    <!-- ace styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-skins.min.css" />

    <!-- jQuery smartMenu右键自定义上下文菜单插件  start -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/jquery-smartMenu/css/smartMenu.css" type="text/css" />
    <!-- jQuery smartMenu右键自定义上下文菜单插件  end -->

    <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/my_diy_css.css"  media="all">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="__PUBLIC__/Admin/assets/js/ace-extra.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jquery.min.js"></script>
    <!-- layui.js   -->
    <script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
<script>

  

</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->



    <!--[if lt IE 9]>

    <script src="__PUBLIC__/Admin/assets/js/html5shiv.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/respond.min.js"></script>

    <![endif]-->

  </head>

  <body>
    <div class="navbar navbar-default" id="navbar">
      <include file="Public/navbar"/>
    </div>

    <div class="main-container" id="main-container">

      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>

      <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
          <span class="menu-text"></span>
        </a>

        <!-- 左侧菜单栏 start-->
        <div class="sidebar" id="sidebar">
          <include file="Public/left"/>
        </div>
        
        <!-- 右侧主要内容 start-->
        <div class="main-content" style="overflow: hidden;">
          

          <!-- 右block_1  start -->
          <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
              try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
              <include file="Public/_breadcrumb"/>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
              <form class="form-search">
                <span class="input-icon">
                  <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                  <i class="icon-search nav-search-icon"></i>
                </span>
              </form>
            </div><!-- #nav-search -->
          </div>
          <!-- 右block_1  end -->

          <div class="page-content">

            <!-- 权限设置  start -->
            <div class="row">
              <include file="Public/role_page_setting"/>
            </div>
            <!-- 权限设置  end -->

            <div class="row">
              <div class="col-xs-12">
                <style>
                  .layui-form-item{margin-bottom: 0px;}
                  .search_button{position: absolute!important;right: 0px!important;top: 4px!important;width: 66px!important;}
                  #gbox_grid-table{width: 100%!important;}
                  #gview_grid-table{width: 100%!important;}
                  #gview_grid-table>div{width: 100%!important;}
                  #trv_Modify,#trv_Delete{display: none;}
                </style>
                <!-- 搜索  start -->
                <div class="row">

                    <form class="layui-form layui-form-pane col-xs-12" action="" method="post">
                        <table class="layui-table" id="search_table">
                          <thead>
                            <tr>
                              <th>搜索</th>
                            </tr> 
                          </thead>
                          <tbody>
                            <tr>
                              <td>

                                <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">名称</label>
                                    <div class="layui-input-inline">
                                      <input type="text" name="name" placeholder="请输入" value="{$_POST['name']}" autocomplete="off" class="layui-input name">
                                    </div>
                                  </div>
                                </div>  

                                <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">型号</label>
                                    <div class="layui-input-inline">
                                      <input type="text" name="type" placeholder="请输入" value="{$_POST['type']}" autocomplete="off" class="layui-input type">
                                    </div>
                                  </div>
                                </div>  

                                <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">设备</label>
                                    <div class="layui-input-inline">
                                      <input type="text" name="device" placeholder="请输入" value="{$_POST['device']}" autocomplete="off" class="layui-input device">
                                    </div>
                                  </div>
                                </div>  

                                <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">区域</label>
                                    <div class="layui-input-inline">
                                      <input type="text" name="area" placeholder="请输入" value="{$_POST['area']}" autocomplete="off" class="layui-input area">
                                    </div>
                                  </div>
                                </div>  

                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td>
                                <button style="float:left;" type="submit" class="layui-btn id-btn-dialog2_add" title="id-btn-dialog2_add">添加</button>
                                <button style="float:right;" type="submit" class="layui-btn search_btn" title="search_btn">搜索</button>
                              </td>
                            </tr> 
                          </tfoot>
                        </table>
                    </form>

                    <script>
                    layui.use('laydate', function(){
                      var laydate = layui.laydate;
                      var start = {
                        min: laydate.now()
                        ,max: '2099-06-16 23:59:59'
                        ,istoday: false
                        ,choose: function(datas){
                          end.min = datas; //开始日选好后，重置结束日的最小日期
                          end.start = datas //将结束日的初始值设定为开始日
                        }
                      };

                      var end = {
                        min: laydate.now()
                        ,max: '2099-06-16 23:59:59'
                        ,istoday: false
                        ,choose: function(datas){
                          start.max = datas; //结束日选好后，重置开始日的最大日期
                        }
                      };

                      document.getElementById('LAY_demorange_s').onclick = function(){
                        start.elem = this;
                        laydate(start);
                      }

                      document.getElementById('LAY_demorange_e').onclick = function(){
                        end.elem = this
                        laydate(end);
                      }
                    });

                    </script>
                </div>
                <!-- 搜索  end -->

                <!-- PAGE CONTENT BEGINS -->

                <table id="grid-table"></table>

                <div id="grid-pager"></div>

         



                
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.page-content -->

        </div><!-- /.main-content -->
        <!-- 右侧主要内容 end-->

        
        
        <!-- 模板相关设置 -->
        <include file="Public/ace-settings-container"/>

      </div><!-- /.main-container-inner -->



      <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">

        <i class="icon-double-angle-up icon-only bigger-110"></i>

      </a>

    </div><!-- /.main-container -->

    <!-- 底栏版本说明 -->
    <include file="Public/footer"/>

    <!-- basic scripts -->

    <!--[if !IE]> -->



    <!-- <![endif]-->



    <!--[if IE]>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<![endif]-->



    <!--[if !IE]> -->



    <script type="text/javascript">

      window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");

    </script>



    <!-- <![endif]-->



    <!--[if IE]>

<script type="text/javascript">

 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");

</script>

<![endif]-->



    <script type="text/javascript">

      if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");

    </script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/typeahead-bs2.min.js"></script>



    <!-- page specific plugin scripts -->

    <script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/chosen.jquery.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/fuelux/fuelux.spinner.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-timepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/moment.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/daterangepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap-colorpicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.knob.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.autosize.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.maskedinput.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap-tag.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.bootstrap.js"></script>
    
    <!-- 模块jqgrid  start -->
    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <!-- <script src="__PUBLIC__/Admin/assets/js/jqGrid/i18n/grid.locale-en.js"></script> -->
    <script src="__PUBLIC__/Admin/assets/js/jqGrid/i18n/grid.locale-zh.js"></script>
    
    <!-- 模块jqgrid  end -->
    <script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>
    <!-- ace scripts -->



    <script src="__PUBLIC__/Admin/assets/js/ace-elements.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/ace.min.js"></script>

    
    <script type="text/javascript">
      //数据列表初使化
      jQuery.support.cors=true;

      //获取列表
      function _ajax_list_device(_name,_type,_device,_area){
	      	$.ajax({  
	      	    async:false,
	      	    type:'get',  
              contentType:"application/x-www-form-urlencoded",
              url : 'http://118.89.46.84/Default.ashx?TaskID=2031',
              data: {'name':_name,'type':_type,'device':_device,'area':_area},
	      	    dataType : 'json',
	      	    success  : function(json) {  
	      	        if(json.code==0){
	      	            grid_data=json.data;
	      	        }else{
	      	            layer.msg(json.msg);
	      	        }
	      	    },
	      	    error  : function(json) {  
	      	        layer.msg(json.msg);
	      	    }  
	      	});  
	      	return grid_data;  
      } 

      //获取单条信息
      function _ajax_get_row_info(_id){
          var _data="";
          $.ajax({  
              type:'get',  
              url : 'http://118.89.46.84/Default.ashx?TaskID=2032&RowID='+_id,
              dataType : 'json',
              success  : function(json) {  
                console.log(json);
                  if(json.code == 0){

                      var I_Name                =json.data.I_Name;
                      var I_Type                =json.data.I_Type;
                      var I_IP               =json.data.I_IP;
                      var I_Device                  =json.data.I_Device;
                      var I_Area                =json.data.I_Area;
                      var I_SamplingPeriod               =json.data.I_SamplingPeriod;
                      var I_Status              =json.data.I_Status;

                      $('#edit_form .I_Name').val(I_Name);
                      $('#edit_form .I_Type').val(I_Type);
                      $('#edit_form .I_IP').val(I_IP);
                      $('#edit_form .I_Device').val(I_Device);
                      $('#edit_form .I_Area').val(I_Area);
                      $('#edit_form .I_SamplingPeriod').val(I_SamplingPeriod);
                      if(I_Status){
                          $('#edit_form .I_Status option[value='+I_Status+']').attr('selected',true);
                      }

                      layui.form().render();
                      _data=json;
                  }else{
                      layer.msg(json.msg);
                      _data=json;
                  }
              },
              error  : function() {  
                  layer.msg('error');
              }  
          }); 
          return _data;
      }
      

      //添加
       function _ajax_add(_data){
           var _add_data=JSON.stringify(_data); 
           var _json;
           $.ajax({  
               async:false,
               type:'post',  
               contentType:"application/x-www-form-urlencoded",
               url : 'http://118.89.46.84/Default.ashx?TaskID=2033',
               data: _add_data,
               dataType : 'json',
               success  : function(json) {
                   if(json.code==0){
                       layer.msg(json.msg);
                       window.location.reload();
                   }else{
                       layer.msg(json.msg);
                   }
               },
               error  : function() {  
                   alert('error');
               }  
           }); 
           
           return _json;
       }

      //编辑
      function _ajax_edit(_data, _id){
          var _edit_data=JSON.stringify(_data); 
          var _json;
          $.ajax({  
              async:false,
              type:'post',  
              contentType:"application/x-www-form-urlencoded",
              url : 'http://118.89.46.84/Default.ashx?TaskID=2034&RowID='+_id,
              data: _edit_data,
              dataType : 'json',
              success  : function(json) {  
                  if(json.code == 0){
                      layer.msg(json.msg);
                      var selectID=$("#grid-table").getGridParam("selrow");

                      console.log(selectID);
                      console.log(_edit_data);
                      $("#grid-table").setRowData(selectID, _data);
                      $("div[aria-describedby='dialog-confirm_edit'] .ui-dialog-titlebar-close").trigger("click");
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function() {  
                  layer.msg('error');
              }  
          }); 
          return _json;  
      }

      //异步删除
      function _ajax_del(ids){
          var _json;
          $.ajax({  
              type:'get',  
              url : 'http://118.89.46.84/Default.ashx?TaskID=2035&RowID='+ids,
              dataType : 'json',
              success  : function(json) {  
                  if(json.code == 0){
                      _json=json;
                      layer.msg(json.msg);
                      var selectRow = $("#grid-table").jqGrid('getGridParam','selrow');
                      $("#grid-table").delRowData(selectRow);
                  }else{
                      layer.msg(json.msg);
                      _json=json;
                  }
              },
              error  : function() {  
                  layer.msg('error');
              }  
          }); 
          return _json;
      }


      jQuery(function($) {

        var grid_selector = "#grid-table";
        var pager_selector = "#grid-pager";

        var _name=$('#search_table .name').val();
        var _type=$('#search_table .type').val();
        var _device=$('#search_table .device').val();
        var _area=$('#search_table .area').val();
        var grid_data=_ajax_list_device(_name,_type,_device,_area);

        console.log(grid_data);
        jQuery(grid_selector).jqGrid({
          //direction: "rtl",
          
          data: grid_data,
          datatype: "local",
          height: 430,
          colNames:['RowID', '名称','型号','IP','设备','区域','采样周期（s）','状态','操作'],
          colModel:[
            {name:'RowID',index:'RowID',  sorttype:"int",align : "center", hidden: true, editable: true ,sortable: false},

            {name:'I_Name',index:'I_Name', editable: true,align : "center",editrules: { required: true }},
            {name:'I_Type',index:'I_Type', editable: true,align : "center",editrules: { required: true }},
            {name:'I_IP',index:'I_IP', editable: true,align : "center",editrules: { required: true }},
            {name:'I_Device',index:'I_Device', editable: true,align : "center",editrules: { required: true }},
            {name:'I_Area',index:'I_Area', editable: true,align : "center",editrules: { required: true }},
            {name:'I_SamplingPeriod',index:'I_SamplingPeriod', editable: true,align : "center",editrules: { required: true }},
            {name:'I_Status',index:'I_Status', editable: true,align : "center",editrules: { required: true }},

            {name:'options',index:'options',align:'center',sortable:false}
          ], 
      	  rownumbers:true,
      	  rownumWidth:50,//设置行号列宽度
      	  autowidth:true,
      	  shrinkToFit:true,//ture，则按比例初始化列宽度。如果为false，则列宽度使用colModel指定的宽度
          viewrecords : true,
          rowNum:10,
          rowList:[10,20,30],
          pager : pager_selector,
          altRows: true,
          multiselect: true,
          multiboxonly: true,
      
          loadComplete : function() {
            var table = this;
            setTimeout(function(){
              updatePagerIcons(table);
            }, 0);
          },
      
          caption: "仪表列表",

          gridComplete:function(){  //在此事件中循环为每一行添加修改和删除链接
              var ids=jQuery(grid_selector).jqGrid('getDataIDs');
              for(var i=0; i<ids.length; i++){
                  var id=ids[i];   console.log(id);
                  var _rowData = $(grid_selector).jqGrid('getRowData',id); 
                   
                  var options="";
                      options += "<button style='margin-right:5px;' class='btn btn-primary btn-xs id-btn-dialog2_edit' title='id-btn-dialog2_edit' data-id='"+_rowData.RowID+"'><i class='icon-edit bigger-110'></i>修改</button>";
                      options += "<button class='btn btn-danger btn-xs row_del id-btn-dialog2_del' title='id-btn-dialog2_del' data-id='"+_rowData.RowID+"'><i class='icon-trash bigger-110'></i>删除</button>";   
                  jQuery(grid_selector).jqGrid('setRowData', ids[i], { options: options});
              }
          }
        });
        
        //replace icons with FontAwesome icons like above   //更新分页图标  
        function updatePagerIcons(table) {
          var replacement = 
          {
            'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
            'ui-icon-seek-next' : 'icon-angle-right bigger-140',
            'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
          };
          $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            
            if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
          })
        }
      
        //初使化按钮操作权限
        var page="{$page}";
        _init_button_operate(page);
      
      });
    </script>
    
    <!-- 模板引擎doT.js    start -->
    <script id="j-tmpl" type="text/template">
        {{ if(it.success){ }}

                {{ for (var i = 0, l = it.data.length; i < l; i++) { }}

                      <tr>
                        <td class="center">
                          <label>
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                          </label>
                        </td>
                        <td>
                          <a href="#">{{=it.data[i].id}}</a>
                        </td>
                        <td>{{=it.data[i].title}}</td>
                        <td class="hidden-480">{{=it.data[i].time}}</td>
                        <td>{{=it.data[i].username}}</td>
                        <td class="hidden-480">
                          <span class="label label-sm label-warning">待判定</span>
                        </td>
                        <td>
                          <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-success">
                              <i class="icon-ok bigger-120"></i>
                            </button>
                            <button class="btn btn-xs btn-info">
                              <a href="#modal-form" role="button" data-toggle="modal"><i class="icon-edit bigger-120"></i></a>
                            </button>
                            <button class="btn btn-xs btn-danger">
                              <i class="icon-trash bigger-120"></i>
                            </button>
                            <button class="btn btn-xs btn-warning">
                              <i class="icon-flag bigger-120"></i>
                            </button>
                          </div>
                          <div class="visible-xs visible-sm hidden-md hidden-lg">
                            <div class="inline position-relative">
                              <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-cog icon-only bigger-110"></i>
                              </button>
                              <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                <li>
                                  <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                    <span class="blue">
                                      <i class="icon-zoom-in bigger-120"></i>
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                    <span class="green">
                                      <i class="icon-edit bigger-120"></i>
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                    <span class="red">
                                      <i class="icon-trash bigger-120"></i>
                                    </span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </td>
                      </tr>

                {{ } }}

        {{ }else{ }}

                <h2>暂无数据</h2>

        {{ } }}
    </script>
    <script src="__PUBLIC__/Admin/doT-master/doT.js"></script>
    <script type="text/javascript">
        $(function(){
            //smartMenu右键自定义上下文菜单插件初使化
            Fn_Init_smartMenu();
            
            $('.ui-state-default.ui-jqgrid-hdiv').click(function(){
                Fn_Init_smartMenu();
            });

            $('.ui-jqgrid-bdiv').click(function(){
                Fn_Init_smartMenu();
            });
        });
    </script>
    <!-- 模板引擎doT.js    end -->
    



    <!-- jQuery smartMenu右键自定义上下文菜单插件  start -->
    <script type="text/javascript" src="__PUBLIC__/Admin/jquery-smartMenu/js/jquery-smartMenu.js"></script>
    <script>
        function Fn_Init_smartMenu(){
            var chkSingle = $("th input"), chkGroup = $("td input");
            var funTrStyle = function() {
              chkGroup.each(function() {
                if ($(this).attr("checked")) {
                  $(this).parents("tr").addClass("bg"); 
                } else {
                  $(this).parents("tr").removeClass("bg");  
                }
              });
            }, funTrGet = function() {
              return  $("td input:checked").parents("tr");
            };

            chkSingle.bind("click", function() {
              if ($(this).attr("checked")) {
                chkGroup.attr("checked", "checked");
              } else {
                chkGroup.attr("checked", "");
              }
              funTrStyle(); 
            });

            chkGroup.bind("click", funTrStyle);
            funTrStyle();

            //自定义右键上下文
            var objDelete = {
              text: "删除",
              func: function() {
                  $('#del_grid-table').trigger('click');
              } 
            }, objShow = {
              text: "查看",
              func: function() {
                  $('#view_grid-table').trigger('click');
              } 
            }, objEdit = {
              text: "编辑",
              func: function() {
                  $('#edit_grid-table').trigger('click');
              }
            }, objUnRead = {}, objSend = {};

            var mailMenuData = [
              [objDelete, objShow]
            ];

            $("#grid-table>tbody>tr").smartMenu(mailMenuData, {
              name: "mail",
              beforeShow: function() {    
                //根据选中的是否是已读显示不同的上下文菜单
                $(this).find("input").attr("checked", "checked"); 
                funTrStyle();

                //动态数据，及时清除
                $.smartMenu.remove();

                //确定显示数据 - 主要是已读与未读
                var numTrBold = 0, numTrNormal = 0, eleTr = funTrGet();
                eleTr.each(function() {
                  if ($(this).css("font-weight") === "700") {
                    numTrBold++; 
                  } 
                  if ($(this).css("font-weight") === "400") {
                    numTrNormal++;  
                  }
                });

                if (eleTr.size() === numTrBold) {
                  //全是粗体  
                  mailMenuData[1] = [objEdit];
                } else if (eleTr.size() === numTrNormal) {
                  //全是正常
                  mailMenuData[1] = [objEdit];
                } else {
                  //混杂
                  mailMenuData[1] = [objEdit];
                }
              }
            });
        }
    </script>
    <!-- jQuery smartMenu右键自定义上下文菜单插件  end -->

        <!-- 确认弹框 start-->
    <div id="dialog-confirm_add" class="hide">
       <div class="row">
             <form class="layui-form layui-form-pane col-xs-12" action="">
                <table id="sample-table_add" class="table table-striped table-bordered table-hover">
                  <tbody>

                    <tr>
                      <td class="center">
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">仪表名称</label>
                            <div class="layui-input-inline">
                              <input type="text" name="I_Name" autocomplete="off" class="layui-input I_Name">
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">型号</label>
                            <div class="layui-input-inline">
                              <input type="text" name="I_Type" autocomplete="off" class="layui-input I_Type">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="center">
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">IP</label>
                            <div class="layui-input-inline">
                              <input type="text" name="I_IP" autocomplete="off" class="layui-input I_IP">
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">设备</label>
                            <div class="layui-input-inline">
                              <input type="text" name="I_Device" autocomplete="off" class="layui-input I_Device">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="center">
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">区域</label>
                            <div class="layui-input-inline">
                              <input type="text" name="I_Area" autocomplete="off" class="layui-input I_Area">
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">采样周期（s）</label>
                            <div class="layui-input-inline">
                              <input type="text" name="I_SamplingPeriod" autocomplete="off" class="layui-input I_SamplingPeriod">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="center">
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                              <select name="I_Status" class="I_Status">
                                <option value="请选择">请选择</option>
                                <option value="启用">启用</option>
                                <option value="关闭">关闭</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2" style="text-align:right;">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1_add">添加</button>
                      </td>
                    </tr>
                  </tfoot>
                </table>
             </form>

        </div>
    </div><!-- #dialog-confirm -->

    <!-- 编辑模具 start-->
    <div id="dialog-confirm_edit" class="hide">
       <div class="row">
             <form class="layui-form layui-form-pane col-xs-12" id="edit_form">
                <table id="sample-table_add" class="table table-striped table-bordered table-hover">
                  <tbody>

                    <tr>
                      <td class="center">
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">仪表名称</label>
                            <div class="layui-input-inline">
                              <input type="text" name="I_Name" autocomplete="off" class="layui-input I_Name">
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">型号</label>
                            <div class="layui-input-inline">
                              <input type="text" name="I_Type" autocomplete="off" class="layui-input I_Type">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="center">
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">IP</label>
                            <div class="layui-input-inline">
                              <input type="text" name="I_IP" autocomplete="off" class="layui-input I_IP">
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">设备</label>
                            <div class="layui-input-inline">
                              <input type="text" name="I_Device" autocomplete="off" class="layui-input I_Device">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="center">
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">区域</label>
                            <div class="layui-input-inline">
                              <input type="text" name="I_Area" autocomplete="off" class="layui-input I_Area">
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">采样周期（s）</label>
                            <div class="layui-input-inline">
                              <input type="text" name="I_SamplingPeriod" autocomplete="off" class="layui-input I_SamplingPeriod">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="center">
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">状态</label>
                            <div class="layui-input-inline">
                              <select name="I_Status" class="I_Status">
                                <option value="请选择">请选择</option>
                                <option value="启用">启用</option>
                                <option value="关闭">关闭</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2" style="text-align:right;">
                        <button class="layui-btn demo1_edit" lay-submit="" lay-filter="demo1_edit">确认</button>
                      </td>
                    </tr>
                  </tfoot>
                </table>
             </form>
        </div>
    </div><!-- #dialog-confirm -->

    <script type="text/javascript">
      jQuery(function($) {
          //添加：
          $( "body" ).on('click', '.id-btn-dialog2_add', function(e) {
              e.preventDefault();
              
              $( "#dialog-confirm_add" ).removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "",
                width:800,
                title_html: true,
              });

              $("div[aria-describedby='dialog-confirm_add'] div span.ui-dialog-title").html("<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 添加：</h4></div>");
          });

          //编辑
          $( ".id-btn-dialog2_edit" ).on('click', function(e) {
              e.preventDefault();

              var _id=$(this).attr('data-id');
              $('.demo1_edit').attr('data-id',_id);

              //渲染数据
              var _json=_ajax_get_row_info(_id);

              $( "#dialog-confirm_edit" ).removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "",
                width:800,
                title_html: true
              });

              $("div[aria-describedby='dialog-confirm_edit'] div span.ui-dialog-title").html("<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 编辑：</h4></div>");
          });

          //删除
          $( "body" ).on('click', '.id-btn-dialog2_del', function() {
              if(confirm("确定要删除？")){
                  var ids=$(this).attr('data-id');
                  _ajax_del(ids);
              }
          });
      });
    </script>
    <script>

    layui.use(['form', 'layedit', 'laydate'], function(){
      var form = layui.form()
      ,layer = layui.layer
      ,layedit = layui.layedit
      ,laydate = layui.laydate;

      //创建一个编辑器
      var editIndex = layedit.build('LAY_demo_editor');

      //自定义验证规则
      form.verify({
        title: function(value){
          if(value.length < 5){
            return '标题至少得5个字符啊';
          }
        }
        ,pass: [/(.+){6,12}$/, '密码必须6到12位']
        ,content: function(value){
          layedit.sync(editIndex);
        }
      });

      //监听提交
      form.on('submit(demo1)', function(data){
        layer.alert(JSON.stringify(data.field), {
          title: '最终的提交信息'
        })
        return false;
      });

      //监听提交
      form.on('submit(demo1_add)', function(data){
        var _json=_ajax_add(data.field);
        return false;
      });

      //监听提交
      form.on('submit(demo1_edit)', function(data){
        var _id=$(this).attr('data-id');
        var _json=_ajax_edit(data.field, _id);
        return false;
      });

    });
    </script>
  </body>
</html>

