<script type="text/javascript">
  try{ace.settings.check('sidebar' , 'fixed')}catch(e){}
</script>

  <div class="sidebar-shortcuts" id="sidebar-shortcuts">
    <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
      <button class="btn btn-success">
        <i class="icon-signal"></i>
      </button>
      <button class="btn btn-info">
        <i class="icon-pencil"></i>
      </button>
      <button class="btn btn-warning">
        <i class="icon-group"></i>
      </button>
      <button class="btn btn-danger">
        <i class="icon-cogs"></i>
      </button>
    </div>

    <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
      <span class="btn btn-success"></span>
      <span class="btn btn-info"></span>
      <span class="btn btn-warning"></span>
      <span class="btn btn-danger"></span>
    </div>

  </div><!-- #sidebar-shortcuts -->


  <ul class="nav nav-list">

    <?php if( name_to_status('Index') == 1 && $user['gid']==427 || in_array('Index', $user['auth_controller_names'])){ ?>
      <li <if condition="$cur_c eq 'Index'">class="active open"</if>>
        <a href="#" class="dropdown-toggle">
          <i class="icon-dashboard"></i>
          <span class="menu-text"> 我的面板 </span>
          <b class="arrow icon-angle-down"></b>
        </a>

        <ul class="submenu">
          <?php if( name_to_status('Admin/Index/index') == 1 && $user['gid']==427 || in_array('Admin/Index/index', $user['auth_action_names'])){ ?>
          <li <if condition="$cur_v eq 'Index-index'">class="active"</if>>
            <a href="{:U('Admin/Index/index')}" page="Admin/Index/index" title="index">
              <i class="icon-double-angle-right"></i>
              首页
            </a>
          </li>
          <?php } ?>
        </ul>

      </li>
    <?php } ?>

    

    <?php if( name_to_status('Config') == 1 && $user['gid']==427 || in_array('Config', $user['auth_controller_names'])){ ?>
    <li <if condition="$cur_c eq 'Config'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-film"></i>
        <span class="menu-text"> 网站设置 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <?php if( name_to_status('Admin/Config/setting') == 1 && $user['gid']==427 || in_array('Admin/Config/setting', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Config-setting'">class="active"</if>>
          <a href="{:U('Admin/Config/setting')}" page="Admin/Config/setting" title="setting" data-title="网站设置">
            <i class="icon-double-angle-right"></i>
            网站设置
          </a>
        </li>
        <?php } ?>
      </ul>

    </li>
    <?php } ?>

    

 <!--    <?php if( name_to_status('AuthManager') == 1 && $user['gid']==427 || in_array('AuthManager', $user['auth_controller_names'])){ ?>
    <li <if condition="$cur_c eq 'AuthManager'">class="active open"</if> style="display:none;">
      <a href="#" class="dropdown-toggle">
        <i class="icon-group"></i>
        <span class="menu-text"> 用户组管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <?php if( name_to_status('Admin/AuthManager/index') == 1 && $user['gid']==427 || in_array('Admin/AuthManager/index', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'AuthManager-index'">class="active"</if>>
          <a href="{:U('Admin/AuthManager/index')}" page="Admin/AuthManager/index" title="index" data-title="用户组列表">
            <i class="icon-double-angle-right"></i>
            用户组列表
          </a>
        </li>
        <?php } ?>
      </ul>
    </li>
    <?php } ?> -->

    
<!-- 
    <?php if( name_to_status('User') == 1 && $user['gid']==427 || in_array('User', $user['auth_controller_names'])){ ?>
    <li <if condition="$cur_c eq 'User'">class="active open"</if> style="display:none;">
      <a href="#" class="dropdown-toggle">
        <i class="icon-eye-open"></i>
        <span class="menu-text"> 
		          用户管理
        </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <?php if( name_to_status('Admin/User/homeUser') == 1 && $user['gid']==427 || in_array('Admin/User/homeUser', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'User-homeUser'">class="active"</if>>
          <a href="{:U('Admin/User/homeUser')}" page="Admin/User/homeUser" title="homeUser" data-title="用户列表">
            <i class="icon-double-angle-right"></i>
            用户列表
          </a>
        </li>
        <?php } ?>

        <?php if( name_to_status('Admin/User/userAdd') == 1 && $user['gid']==427 || in_array('Admin/User/userAdd', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'User-userAdd'">class="active"</if>>
          <a href="{:U('Admin/User/userAdd')}" page="Admin/User/userAdd" title="userAdd" data-title="添加系统用户">
            <i class="icon-double-angle-right"></i>
            添加系统用户
          </a>
        </li>
        <?php } ?>

        <?php if( name_to_status('Admin/User/usersAdd') == 1 && $user['gid']==427 || in_array('Admin/User/usersAdd', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'User-usersAdd'">class="active"</if> <if condition="$user['gid'] eq 1">style="display:none;"<elseif condition="$user['gid'] eq 2"/>style="display:none;"</if>>
          <a href="{:U('Admin/User/usersAdd')}" page="Admin/User/usersAdd" title="usersAdd" data-title="批量添加学生">
            <i class="icon-double-angle-right"></i>
            批量添加学生
          </a>
        </li>
        <?php } ?>

        <?php if( name_to_status('Admin/User/students') == 1 && $user['gid']==427 || in_array('Admin/User/students', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'AuthRule-index'">class="active"</if> <if condition="$user['gid'] eq 1">style="display:none;"<elseif condition="$user['gid'] eq 2"/>style="display:none;"</if>>
          <a href="{:U('Admin/User/students')}" page="Admin/User/students" title="students" data-title="学生列表">
            <i class="icon-double-angle-right"></i>
            学生列表
          </a>
        </li>
        <?php } ?>

        <?php if( name_to_status('Admin/User/addStudent') == 1 && $user['gid']==427 || in_array('Admin/User/addStudent', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'AuthRule-index'">class="active"</if> <if condition="$user['gid'] eq 1">style="display:none;"<elseif condition="$user['gid'] eq 2"/>style="display:none;"</if>>
          <a href="{:U('Admin/User/addStudent')}" page="Admin/User/addStudent" title="addStudent" data-title="添加学生">
            <i class="icon-double-angle-right"></i>
            添加学生
          </a>
        </li>
        <?php } ?>
      </ul>
    </li>
    <?php } ?> -->

    

    

    <?php if( name_to_status('Type') == 1 && $user['gid']==427 || in_array('Type', $user['auth_controller_names'])){ ?>
    <li <if condition="$cur_c eq 'Type'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-edit"></i>
        <span class="menu-text"> 分类管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>

      <ul class="submenu">
        <?php if( name_to_status('Admin/Type/index') == 1 && $user['gid']==427 || in_array('Admin/Type/index', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Type-index'">class="active"</if>>
          <a href="{:U('Admin/Type/index')}" page="Admin/Type/index" title="index" data-title="分类列表">
            <i class="icon-double-angle-right"></i>
            分类列表
          </a>
        </li>
        <?php } ?>
      </ul>
    </li>
    <?php } ?>

 <!-- 导航栏分为：我的面板、板料库、生产管理、成品管理、停线管理、工单管理、设备管理、能源管理、基础数据、系统管理 -->   

    <li <if condition="$cur_c eq 'Panel'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-flag"></i>
        <span class="menu-text">彩票管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>
      <ul class="submenu">
        <li <if condition="$cur_v eq 'Panel-jingcaizuqiu'">class="active"</if>>
          <a href="{:U('Admin/Panel/jingcaizuqiu')}" page="Admin/Panel/jingcaizuqiu" title="panel_12" data-title="竞彩足球">
            <i class="icon-double-angle-right"></i>
            竞彩足球
          </a>
        </li>
      </ul>
    </li>


    <?php if( name_to_status('Course') == 1 && $user['gid']==427 || in_array('Course', $user['auth_controller_names'])){ ?>
    <li <if condition="$cur_c eq 'Course'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-key"></i>
        <span class="menu-text">生产管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>
      <ul class="submenu">
        <?php if( name_to_status('Admin/Course/index') == 1 && $user['gid']==427 || in_array('Admin/Course/index', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Course-index'">class="active"</if>>
          <a href="{:U('Admin/Course/index')}" page="Admin/Course/index" title="index" data-title="生产排程">
            <i class="icon-double-angle-right"></i>
            生产排程
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Course/index_2') == 1 && $user['gid']==427 || in_array('Admin/Course/index_2', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Course-index_2'">class="active"</if>>
          <a href="{:U('Admin/Course/index_2')}" page="Admin/Course/index_2" title="index_2" data-title="生产记录">
            <i class="icon-double-angle-right"></i>
            生产记录
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Course/baobiao1') == 1 && $user['gid']==427 || in_array('Admin/Course/baobiao1', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Course-baobiao1'">class="active"</if>>
          <a href="{:U('Admin/Course/baobiao1')}" page="Admin/Course/baobiao1" title="baobiao1" data-title="产量统计报表">
            <i class="icon-double-angle-right"></i>
            产量统计报表
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Course/baobiao2') == 1 && $user['gid']==427 || in_array('Admin/Course/baobiao2', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Course-baobiao2'">class="active"</if>>
          <a href="{:U('Admin/Course/baobiao2')}" page="Admin/Course/baobiao2" title="baobiao2" data-title="产线报表">
            <i class="icon-double-angle-right"></i>
            产线报表
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Course/baobiao') == 1 && $user['gid']==427 || in_array('Admin/Course/baobiao', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Course-baobiao'">class="active"</if>>
          <a href="{:U('Admin/Course/baobiao')}" page="Admin/Course/baobiao" title="baobiao" data-title="节拍报表">
            <i class="icon-double-angle-right"></i>
            节拍报表
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Course/liaojia') == 1 && $user['gid']==427 || in_array('Admin/Course/liaojia', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Course-liaojia'">class="active"</if>>
          <a href="{:U('Admin/Course/liaojia')}" page="Admin/Course/liaojia" title="liaojia" data-title="料件管理">
            <i class="icon-double-angle-right"></i>
            料架管理
          </a>
        </li>
        <?php } ?>
      </ul>
    </li>
    <?php } ?>


    <?php if( name_to_status('Banji') == 1 && $user['gid']==427 || in_array('Banji', $user['auth_controller_names'])){ ?>
    <li <if condition="$cur_c eq 'Banji'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-cogs"></i>
        <span class="menu-text">成品管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>
      <ul class="submenu">
        <?php if( name_to_status('Admin/Banji/index_1') == 1 && $user['gid']==427 || in_array('Admin/Banji/index_1', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Banji-index_1'">class="active"</if>>
          <a href="{:U('Admin/Banji/index_1')}" page="Admin/Banji/index_1" title="index_1" data-title="缺陷记录">
            <i class="icon-double-angle-right"></i>
            缺陷记录
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Banji/index_2') == 1 && $user['gid']==427 || in_array('Admin/Banji/index_2', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Banji-index_2'">class="active"</if>>
          <a href="{:U('Admin/Banji/index_2')}" page="Admin/Banji/index_2" title="index_2" data-title="抽检记录">
            <i class="icon-double-angle-right"></i>
            抽检记录
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Banji/index_3') == 1 && $user['gid']==427 || in_array('Admin/Banji/index_3', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Banji-index_3'">class="active"</if>>
          <a href="{:U('Admin/Banji/index_3')}" page="Admin/Banji/index_3" title="index_3" data-title="成品追溯">
            <i class="icon-double-angle-right"></i>
            成品追溯
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Banji/index_4') == 1 && $user['gid']==427 || in_array('Admin/Banji/index_4', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Banji-index_4'">class="active"</if>>
          <a href="{:U('Admin/Banji/index_4')}" page="Admin/Banji/index_4" title="index_4" data-title="成品库存">
            <i class="icon-double-angle-right"></i>
            成品库存
          </a>
        </li>
        <?php } ?>
      </ul>
    </li>
    <?php } ?>


    <?php if( name_to_status('Stop') == 1 && $user['gid']==427 || in_array('Stop', $user['auth_controller_names'])){ ?>
    <li <if condition="$cur_c eq 'Stop'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-eye-close"></i>
        <span class="menu-text">停线管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>
      <ul class="submenu">
        <?php if( name_to_status('Admin/Stop/index') == 1 && $user['gid']==427 || in_array('Admin/Stop/index', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Stop-index'">class="active"</if>>
          <a href="{:U('Admin/Stop/index')}" page="Admin/Stop/index" title="index" data-title="停线列表">
            <i class="icon-double-angle-right"></i>
            停线列表
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Stop/echart_1_1') == 1 && $user['gid']==427 || in_array('Admin/Stop/echart_1_1', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Stop-echart_1_1'">class="active"</if>>
          <a href="{:U('Admin/Stop/echart_1_1')}" page="Admin/Stop/echart_1_1" title="echart_1_1" data-title="停线原因词云图报表">
            <i class="icon-double-angle-right"></i>
            停线原因词云图报表
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Stop/echart_1_2') == 1 && $user['gid']==427 || in_array('Admin/Stop/echart_1_2', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Stop-echart_1_2'">class="active"</if>>
          <a href="{:U('Admin/Stop/echart_1_2')}" page="Admin/Stop/echart_1_2" title="echart_1_2" data-title="停线设备词云图报表">
            <i class="icon-double-angle-right"></i>
            停线设备词云图报表
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Stop/echart_2_1') == 1 && $user['gid']==427 || in_array('Admin/Stop/echart_2_1', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Stop-echart_2_1'">class="active"</if>>
          <a href="{:U('Admin/Stop/echart_2_1')}" page="Admin/Stop/echart_2_1" title="echart_2_1" data-title="停线原因TOP10报表">
            <i class="icon-double-angle-right"></i>
            停线原因TOP10报表
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Stop/echart_2_2') == 1 && $user['gid']==427 || in_array('Admin/Stop/echart_2_2', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Stop-echart_2_2'">class="active"</if>>
          <a href="{:U('Admin/Stop/echart_2_2')}" page="Admin/Stop/echart_2_2" title="echart_2_2" data-title="停线设备TOP10报表">
            <i class="icon-double-angle-right"></i>
            停线设备TOP10报表
          </a>
        </li> 
        <?php } ?>
        <?php if( name_to_status('Admin/Stop/echart_2_3') == 1 && $user['gid']==427 || in_array('Admin/Stop/echart_2_3', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Stop-echart_2_3'">class="active"</if>>
          <a href="{:U('Admin/Stop/echart_2_3')}" page="Admin/Stop/echart_2_3" title="echart_2_3" data-title="停线时长TOP10报表">
            <i class="icon-double-angle-right"></i>
            停线时长TOP10报表
          </a>
        </li> 
        <?php } ?>
      </ul>  
    </li>
    <?php } ?>

    
    <?php if( name_to_status('Card') == 1 && $user['gid']==427 || in_array('Card', $user['auth_controller_names'])){ ?>
    <li <if condition="$cur_c eq 'Card'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-credit-card"></i>
        <span class="menu-text">工单管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>
      <ul class="submenu">
        <?php if( name_to_status('Admin/Card/index4') == 1 && $user['gid']==427 || in_array('Admin/Card/index4', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Card-index4'">class="active"</if>>
          <a href="{:U('Admin/Card/index4')}" page="Admin/Card/index4" title="index4" data-title="模具工单">
            <i class="icon-double-angle-right"></i>
            模具工单
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Card/index5') == 1 && $user['gid']==427 || in_array('Admin/Card/index5', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Card-index5'">class="active"</if>>
          <a href="{:U('Admin/Card/index5')}" page="Admin/Card/index5" title="index5" data-title="生产工单">
            <i class="icon-double-angle-right"></i>
            生产工单
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Card/index6') == 1 && $user['gid']==427 || in_array('Admin/Card/index6', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Card-index6'">class="active"</if>>
          <a href="{:U('Admin/Card/index6')}" page="Admin/Card/index6" title="index6" data-title="设备工单">
            <i class="icon-double-angle-right"></i>
            设备工单
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Card/index7') == 1 && $user['gid']==427 || in_array('Admin/Card/index7', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Card-index7'">class="active"</if>>
          <a href="{:U('Admin/Card/index7')}" page="Admin/Card/index7" title="index7" data-title="过程工单">
            <i class="icon-double-angle-right"></i>
            过程工单
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Card/index8') == 1 && $user['gid']==427 || in_array('Admin/Card/index8', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Card-index8'">class="active"</if>>
          <a href="{:U('Admin/Card/index8')}" page="Admin/Card/index8" title="index8" data-title="成品返修工单">
            <i class="icon-double-angle-right"></i>
            成品返修工单
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Card/index3_1') == 1 && $user['gid']==427 || in_array('Admin/Card/index3_1', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Card-index3_1'">class="active"</if>>
          <a href="{:U('Admin/Card/index3_1')}" page="Admin/Card/index3_1" title="index3_1" data-title="模具维修工时报表">
            <i class="icon-double-angle-right"></i>
            模具维修工时报表
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Card/index3_2') == 1 && $user['gid']==427 || in_array('Admin/Card/index3_2', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Card-index3_2'">class="active"</if>>
          <a href="{:U('Admin/Card/index3_2')}" page="Admin/Card/index3_2" title="index3_2" data-title="模具保养工时报表">
            <i class="icon-double-angle-right"></i>
            模具保养工时报表
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Card/index3_3') == 1 && $user['gid']==427 || in_array('Admin/Card/index3_3', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Card-index3_3'">class="active"</if>>
          <a href="{:U('Admin/Card/index3_3')}" page="Admin/Card/index3_3" title="index3_3" data-title="设备维修工时报表">
            <i class="icon-double-angle-right"></i>
            设备维修工时报表
          </a>
        </li>
        <?php } ?>
      </ul>
    </li>
    <?php } ?>


    <?php if( name_to_status('Energy') == 1 && $user['gid']==427 || in_array('Energy', $user['auth_controller_names'])){ ?>
    <li <if condition="$cur_c eq 'Energy'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-leaf"></i>
        <span class="menu-text">能源管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>
      <ul class="submenu">
        <?php if( name_to_status('Admin/Energy/index1') == 1 && $user['gid']==427 || in_array('Admin/Energy/index1', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Energy-index1'">class="active"</if>>
          <a href="{:U('Admin/Energy/index1')}" page="Admin/Energy/index1" title="index1" data-title="电能仪表明细表">
            <i class="icon-double-angle-right"></i>
            电能仪表明细表
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Energy/index2') == 1 && $user['gid']==427 || in_array('Admin/Energy/index2', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Energy-index2'">class="active"</if>>
          <a href="{:U('Admin/Energy/index2')}" page="Admin/Energy/index2" title="index2" data-title="产量能耗报表">
            <i class="icon-double-angle-right"></i>
            产量能耗报表
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Energy/index3') == 1 && $user['gid']==427 || in_array('Admin/Energy/index3', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Energy-index3'">class="active"</if>>
          <a href="{:U('Admin/Energy/index3')}" page="Admin/Energy/index3" title="index3" data-title="能耗趋势报表">
            <i class="icon-double-angle-right"></i>
            能耗趋势报表
          </a>
        </li>
        <?php } ?>
      </ul>
    </li>
    <?php } ?>


    <?php if( name_to_status('Site') == 1 && $user['gid']==427 || in_array('Site', $user['auth_controller_names'])){ ?>
    <li <if condition="$cur_c eq 'Site'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-beaker"></i>
        <span class="menu-text">基础数据 </span>
        <b class="arrow icon-angle-down"></b>
      </a>
      <ul class="submenu">
        <?php if( name_to_status('Admin/Site/banliao') == 1 && $user['gid']==427 || in_array('Admin/Site/banliao', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Site-banliao'">class="active"</if>>
          <a href="{:U('Admin/Site/banliao')}" page="Admin/Site/banliao" title="banliao" data-title="板料管理">
            <i class="icon-double-angle-right"></i>
            板料管理
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Site/device') == 1 && $user['gid']==427 || in_array('Admin/Site/device', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Site-device'">class="active"</if>>
          <a href="{:U('Admin/Site/device')}" page="Admin/Site/device" title="device" data-title="设备管理">
            <i class="icon-double-angle-right"></i>
            设备管理
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Site/mould') == 1 && $user['gid']==427 || in_array('Admin/Site/mould', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Site-mould'">class="active"</if>>
          <a href="{:U('Admin/Site/mould')}" page="Admin/Site/mould" title="mould" data-title="模具管理">
            <i class="icon-double-angle-right"></i>
            模具管理
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Site/carts_1') == 1 && $user['gid']==427 || in_array('Admin/Site/carts_1', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Site-carts_1'">class="active"</if>>
          <a href="{:U('Admin/Site/carts_1')}" page="Admin/Site/carts_1" title="carts_1" data-title="车型管理">
            <i class="icon-double-angle-right"></i>
            车型管理
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Site/parts_1') == 1 && $user['gid']==427 || in_array('Admin/Site/parts_1', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Site-parts_1'">class="active"</if>>
          <a href="{:U('Admin/Site/parts_1')}" page="Admin/Site/parts_1" title="parts_1" data-title="零件管理">
            <i class="icon-double-angle-right"></i>
            零件管理
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Site/liaojia') == 1 && $user['gid']==427 || in_array('Admin/Site/liaojia', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Site-liaojia'">class="active"</if>>
          <a href="{:U('Admin/Site/liaojia')}" page="Admin/Site/liaojia" title="liaojia" data-title="料架管理">
            <i class="icon-double-angle-right"></i>
            料架管理
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Site/yibiao') == 1 && $user['gid']==427 || in_array('Admin/Site/yibiao', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Site-yibiao'">class="active"</if>>
          <a href="{:U('Admin/Site/yibiao')}" page="Admin/Site/yibiao" title="yibiao" data-title="仪表管理">
            <i class="icon-double-angle-right"></i>
            仪表管理
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Site/tuopan') == 1 && $user['gid']==427 || in_array('Admin/Site/tuopan', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Site-tuopan'">class="active"</if>>
          <a href="{:U('Admin/Site/tuopan')}" page="Admin/Site/tuopan" title="tuopan" data-title="托盘管理">
            <i class="icon-double-angle-right"></i>
            托盘管理
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/Site/banci_2') == 1 && $user['gid']==427 || in_array('Admin/Site/banci_2', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'Site-banci_2'">class="active"</if>>
          <a href="{:U('Admin/Site/banci_2')}" page="Admin/Site/banci_2" title="banci_2" data-title="用户组列表">
            <i class="icon-double-angle-right"></i>
            班次管理
          </a>
        </li>
        <?php } ?>
      </ul>
    </li>
    <?php } ?>

    <?php if( name_to_status('AuthRule') == 1 && $user['gid']==427 || in_array('AuthRule', $user['auth_controller_names']) || in_array('AuthManager', $user['auth_controller_names']) || in_array('User', $user['auth_controller_names'])){ ?>
    <li <if condition="$cur_c eq 'AuthRule' || $cur_c eq 'AuthManager' || $cur_c eq 'User'">class="active open"</if>>
      <a href="#" class="dropdown-toggle">
        <i class="icon-briefcase"></i>
        <span class="menu-text"> 系统管理 </span>
        <b class="arrow icon-angle-down"></b>
      </a>
      <ul class="submenu">
        <?php if( name_to_status('Admin/AuthRule/index') == 1 && $user['gid']==427 || in_array('Admin/AuthRule/index', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'AuthRule-index'">class="active"</if>>
          <a href="{:U('Admin/AuthRule/index')}" page="Admin/AuthRule/index" title="index" data-title="权限列表">
            <i class="icon-double-angle-right"></i>
            权限列表
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/AuthManager/index') == 1 && $user['gid']==427 || in_array('Admin/AuthManager/index', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'AuthManager-index'">class="active"</if>>
          <a href="{:U('Admin/AuthManager/index')}" page="Admin/AuthManager/index" title="index" data-title="用户组列表">
            <i class="icon-double-angle-right"></i>
            用户组列表
          </a>
        </li>
        <?php } ?>
        <?php if( name_to_status('Admin/User/homeUser') == 1 && $user['gid']==427 || in_array('Admin/User/homeUser', $user['auth_action_names'])){ ?>
        <li <if condition="$cur_v eq 'User-homeUser'">class="active"</if>>
          <a href="{:U('Admin/User/homeUser')}" page="Admin/User/homeUser" title="homeUser" data-title="用户列表">
            <i class="icon-double-angle-right"></i>
            用户列表
          </a>
        </li>
        <?php } ?>
      </ul>
    </li>
    <?php } ?>

  </ul><!-- /.nav-list -->


  <div class="sidebar-collapse" id="sidebar-collapse">
    <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
  </div>

  <script type="text/javascript">
    try{ace.settings.check('sidebar' , 'collapsed')}catch(e){}
  </script>

