<include file="Public/header"/>
    <!-- basic styles -->
    <link href="__PUBLIC__/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/chosen.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/daterangepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/colorpicker.css" />
    
    <!-- 模块jqgrid  start -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ui.jqgrid.css" />
    <!-- 模块jqgrid  end -->

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/google_font_css.css">

    <!-- ace styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-skins.min.css" />

    <!-- jQuery smartMenu右键自定义上下文菜单插件  start -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/jquery-smartMenu/css/smartMenu.css" type="text/css" />
    <!-- jQuery smartMenu右键自定义上下文菜单插件  end -->

    <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/my_diy_css.css"  media="all">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="__PUBLIC__/Admin/assets/js/ace-extra.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jquery.min.js"></script>
    <!-- layui.js   -->
    <script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
<script>

  

</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->



    <!--[if lt IE 9]>

    <script src="__PUBLIC__/Admin/assets/js/html5shiv.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/respond.min.js"></script>

    <![endif]-->

  </head>

  <body>
    <div class="navbar navbar-default" id="navbar">
      <include file="Public/navbar"/>
    </div>

    <div class="main-container" id="main-container">

      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>

      <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
          <span class="menu-text"></span>
        </a>

        <!-- 左侧菜单栏 start-->
        <div class="sidebar" id="sidebar">
          <include file="Public/left"/>
        </div>
        
        <!-- 右侧主要内容 start-->
        <div class="main-content" style="overflow: hidden;">
          

          <!-- 右block_1  start -->
          <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
              try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
              <include file="Public/_breadcrumb"/>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
              <form class="form-search">
                <span class="input-icon">
                  <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                  <i class="icon-search nav-search-icon"></i>
                </span>
              </form>
            </div><!-- #nav-search -->
          </div>
          <!-- 右block_1  end -->

          <div class="page-content">

            <div class="row">
              <div class="col-xs-12">
                <style>
                  .layui-form-item{margin-bottom: 0px;}
                  .search_button{position: absolute!important;right: 0px!important;top: 4px!important;width: 66px!important;}
                  #gbox_grid-table{width: 100%!important;}
                  #gview_grid-table{width: 100%!important;}
                  #gview_grid-table>div{width: 100%!important;}
                  #trv_Modify,#trv_Delete{display: none;}
                </style>

                <!-- 权限设置  start -->
                <div class="row">
                  <include file="Public/role_page_setting"/>
                </div>
                <!-- 权限设置  end -->

                <!-- 搜索  start -->
                <div class="row">
                    <form class="layui-form layui-form-pane col-xs-12" action="" method="post">
                        <table class="layui-table" id="search_table">
                          <thead>
                            <tr>
                              <th>搜索</th>
                            </tr> 
                          </thead>
                          <tbody>
                            <tr>
                              <td>
                               
                                <div class="layui-inline">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">生产线</label>
                                    <div class="layui-input-inline">
                                      <select name="Line" class="Line" lay-filter="aihao">
                                         <option value="请选择">请选择</option>
                                         <option value="A" <if condition="$_POST['Line'] eq A">selected</if>>A</option>
                                         <option value="B" <if condition="$_POST['Line'] eq B">selected</if>>B</option>
                                       </select>
                                    </div>
                                  </div>
                                </div>

                                <div class="layui-inline" style="margin-top: 5px;">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">时间范围</label>
                                    <div class="layui-input-inline">
                                      <input class="layui-input Date1" name="Date1" value="{$_POST['Date1']}" placeholder="开始日" id="LAY_demorange_s">
                                    </div>
                                    <div class="layui-input-inline">
                                      <input class="layui-input Date2" name="Date2" value="{$_POST['Date2']}" placeholder="截止日" id="LAY_demorange_e">
                                    </div>
                                  </div>
                                </div>  

                                <div class="layui-inline" style="margin-top: 5px;">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">零件名称</label>
                                    <div class="layui-input-inline">
                                      <input class="layui-input PartName" name="PartName" value="{$_POST['PartName']}" placeholder="零件名称">
                                    </div>
                                  </div>
                                </div> 

                                <div class="layui-inline" style="margin-top: 5px;">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">模具名称</label>
                                    <div class="layui-input-inline">
                                      <input class="layui-input MouldName" name="MouldName" value="{$_POST['MouldName']}" placeholder="模具名称">
                                    </div>
                                  </div>
                                </div> 

                                <div class="layui-inline" style="margin-top: 5px;">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">生产工单</label>
                                    <div class="layui-input-inline">
                                      <input class="layui-input ProductOrder" name="ProductOrder" value="{$_POST['ProductOrder']}" placeholder="生产工单">
                                    </div>
                                  </div>
                                </div>  

                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td>
                                <button style="float:right;" type="submit" class="layui-btn search_btn" title="search_btn">搜索</button>
                              </td>
                            </tr> 
                          </tfoot>
                        </table>
                    </form>
                </div>
                <!-- 搜索  end -->

                <!-- PAGE CONTENT BEGINS -->

                <table id="grid-table"></table>

                <div id="grid-pager"></div>

              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.page-content -->

        </div><!-- /.main-content -->
        <!-- 右侧主要内容 end-->

        
        
        <!-- 模板相关设置 -->
        <include file="Public/ace-settings-container"/>

      </div><!-- /.main-container-inner -->



      <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">

        <i class="icon-double-angle-up icon-only bigger-110"></i>

      </a>

    </div><!-- /.main-container -->

    <!-- 底栏版本说明 -->
    <include file="Public/footer"/>

    <!-- basic scripts -->

    <!--[if !IE]> -->



    <!-- <![endif]-->



    <!--[if IE]>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<![endif]-->



    <!--[if !IE]> -->



    <script type="text/javascript">

      window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");

    </script>



    <!-- <![endif]-->



    <!--[if IE]>

<script type="text/javascript">

 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");

</script>

<![endif]-->



    <script type="text/javascript">

      if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");

    </script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/typeahead-bs2.min.js"></script>



    <!-- page specific plugin scripts -->

    <script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/chosen.jquery.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/fuelux/fuelux.spinner.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-timepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/moment.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/daterangepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap-colorpicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.knob.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.autosize.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.maskedinput.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap-tag.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.bootstrap.js"></script>
    
    <!-- 模块jqgrid  start -->
    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <!-- <script src="__PUBLIC__/Admin/assets/js/jqGrid/i18n/grid.locale-en.js"></script> -->
    <script src="__PUBLIC__/Admin/assets/js/jqGrid/i18n/grid.locale-zh.js"></script>
    
    <!-- 模块jqgrid  end -->
    <script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>
    <!-- ace scripts -->



    <script src="__PUBLIC__/Admin/assets/js/ace-elements.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/ace.min.js"></script>

    

    <!-- inline scripts related to this page -->


    <script type="text/javascript">
      //数据列表初使化
      jQuery.support.cors=true;

      var _Line=$('#search_table .Line').val();
      var _Date1=$('#search_table .Date1').val();
      var _Date2=$('#search_table .Date2').val();
      var _PartName=$('#search_table .PartName').val();
      var _MouldName=$('#search_table .MouldName').val();
      var _ProductOrder=$('#search_table .ProductOrder').val();


      var grid_data=_ajax_list_device(_Line,_Date1,_Date2,_PartName,_MouldName,_ProductOrder);

      //获取列表
      function _ajax_list_device(_Line,_Date1,_Date2,_PartName,_MouldName,_ProductOrder){
          $.ajax({  
              async:false,
              type:'get',  
              contentType:"application/x-www-form-urlencoded",
              url : 'http://118.89.46.84/Default.ashx?TaskID=40711',
              data: {'Line':_Line, 'Date1':_Date1, 'Date2':_Date2, 'PartName':_PartName, 'MouldName':_MouldName, 'ProductOrder':_ProductOrder},
              dataType : 'json',
              success  : function(json) {  
                  if(json.code==0){
                      grid_data=json.data;
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function(json) {  
                  layer.msg(json.msg);
              }  
          });  
          return grid_data;  
      } 

      //获取单条信息
      function _ajax_get_row_info(_id){
          var _data="";
          $.ajax({  
              type:'get',  
              url : 'http://118.89.46.84/Default.ashx?TaskID=40714&ID='+_id,
              dataType : 'json',
              success  : function(json) {  
                console.log(json);
                  if(json.code == 0){

                      var Date                =json.data.Date;
                      var Line                =json.data.Line;
                      var PartID            =json.data.PartID;
                      var MouldID              =json.data.MouldID;
                      var EndTime              =json.data.EndTime;
                      var WorkOrderID              =json.data.WorkOrderID;
                      var ID              =json.data.ID;

                      $('.demo1_edit').attr('data-id',ID);

                      $('#edit_form .Date').val(Date);
                      $('#edit_form .EndTime').val(EndTime);
                      $('#edit_form .WorkOrderID').val(WorkOrderID);
                      $('#edit_form .Line option[value='+Line+']').attr('selected',true);
                      $('#edit_form .PartID option[value='+PartID+']').attr('selected',true);
                      $('#edit_form .MouldID option[value='+MouldID+']').attr('selected',true);

                      layui.form().render();
                      _data=json;
                  }else{
                      layer.msg(json.msg);
                      _data=json;
                  }
              },
              error  : function() {  
                  layer.msg('error');
              }  
          }); 
          return _data;
      }

      function _ajax_part_name_list(){
          $.ajax({  
              async:false,
              type:'post',  
              url : 'http://118.89.46.84/Default.ashx?TaskID=3021',
              dataType : 'json',
              success  : function(json) { 
                  if(json.code==0){
                      var str="<option value='请选择'>请选择</option>";
                      $.each(json.data, function(name, value) {
                          str+="<option value='"+value.RowID+"'>"+value.P_Name+"</option>";
                      });
                      $('#part_name_select').html(str);
                      layui.form().render();
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function(json) {  
                  layer.msg(json.msg);
              }  
          });  
      }

      function _ajax_mould_name_list(){
          $.ajax({  
              async:false,
              type:'post',  
              url : 'http://118.89.46.84/Default.ashx?TaskID=2011',
              dataType : 'json',
              success  : function(json) { 
                  if(json.code==0){
                      var str="<option value='请选择'>请选择</option>";
                      $.each(json.data, function(name, value) {
                          str+="<option value='"+value.RowID+"'>"+value.M_Name+"</option>";
                      });
                      $('#mould_name_select').html(str);
                      layui.form().render();
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function(json) {  
                  layer.msg(json.msg);
              }  
          });  
      }

      //编辑
      function _ajax_edit(_data, _id){
          var _edit_data=JSON.stringify(_data); 
          var _json;
          $.ajax({  
              async:false,
              type:'post',  
              contentType:"application/x-www-form-urlencoded",
              url : 'http://118.89.46.84/Default.ashx?TaskID=40713&ID='+_id,
              data: _edit_data,
              dataType : 'json',
              success  : function(json) {  
                  if(json.code == 0){
                      var obj=$.parseJSON(_edit_data);
                      obj.P_Name=json.data.P_Name;
                      obj.M_Name=json.data.M_Name;

                      layer.msg(json.msg);
                      var selectID=$("#grid-table").getGridParam("selrow");

                      $("#grid-table").setRowData(selectID, obj);
                      $("div[aria-describedby='dialog-confirm_edit'] .ui-dialog-titlebar-close").trigger("click");
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function() {  
                  layer.msg('error');
              }  
          }); 
          return _json;  
      }

      //返库
      function _ajax_del(id){
          var _json;
          $.ajax({  
              type:'get',  
              url : 'http://118.89.46.84/Default.ashx?TaskID=40712&ID='+id,
              dataType : 'json',
              success  : function(json) {  
                  if(json.code == 0){
                      _json=json;
                      layer.msg(json.msg);
                      var selectRow = $("#grid-table").jqGrid('getGridParam','selrow');
                      $("#grid-table").delRowData(selectRow);
                  }else{
                      layer.msg(json.msg);
                      _json=json;
                  }
              },
              error  : function() {  
                  layer.msg('error');
              }  
          }); 
          return _json;
      }

      

      jQuery(function($) {
        var grid_selector = "#grid-table";
        var pager_selector = "#grid-pager";
      
        jQuery(grid_selector).jqGrid({
          data: grid_data,
          datatype: "local",
          height: 430,
          colNames:['RowID', '日期','线体', '零件名称', '零件编号','模具名称','模具编号','下线时间','生产工单','操作'],
          colModel:[
            {name:'ID',index:'ID',  sorttype:"int",align : "center", hidden: true},

            {name:'Date',index:'Date',align : "center"},
            {name:'Line',index:'Line',align : "center"},
            {name:'P_Name',index:'P_Name', align : "center"},
            {name:'P_Number',index:'P_Number', align : "center"},
            {name:'M_Name',index:'M_Name',  align : "center"},
            {name:'M_Number',index:'M_Number', align : "center"},
            {name:'EndTime',index:'EndTime', align : "center"},
            {name:'WorkOrderID',index:'WorkOrderID', align : "center"},
            
            {name:'options',index:'options',align:'center'}
          ], 
          rownumbers:true,
          rownumWidth:50,//设置行号列宽度
          autowidth:true,
          shrinkToFit:true,//ture，则按比例初始化列宽度。如果为false，则列宽度使用colModel指定的宽度
          viewrecords : true,
          rowNum:10,
          rowList:[10,20,30],
          pager : pager_selector,
          altRows: true,
          multiselect: true,
          multiboxonly: true,
      
          loadComplete : function() {
            var table = this;
            setTimeout(function(){
              updatePagerIcons(table);
            }, 0);
          },
      
          caption: "生产记录列表",

          gridComplete:function(){
              var ids=jQuery(grid_selector).jqGrid('getDataIDs');
              for(var i=0; i<ids.length; i++){
                  var id=ids[i];   
                  var _rowData = $(grid_selector).jqGrid('getRowData',id);

                  var options ="";
                      options += "<button style='margin-right:5px;' class='btn btn-primary btn-xs id-btn-dialog2_edit' data-id='"+_rowData.ID+"' title='id-btn-dialog2_edit'><i class='icon-edit bigger-110'></i>修改</button>";
                      options += "<button class='btn btn-danger btn-xs id-btn-dialog2_del' title='id-btn-dialog2_del' data-id='"+_rowData.ID+"'><i class='icon-trash bigger-110'></i>删除</button>";   
                  jQuery(grid_selector).jqGrid('setRowData', ids[i], { options: options });
              }
          }
        });
        
        //replace icons with FontAwesome icons like above   //更新分页图标  
        function updatePagerIcons(table) {
          var replacement = 
          {
            'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
            'ui-icon-seek-next' : 'icon-angle-right bigger-140',
            'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
          };
          $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            
            if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
          })
        }

        //初使化按钮操作权限
        var page="{$page}";
        _init_button_operate(page);
      
      });
    </script>
    
    <!-- 模板引擎doT.js    start -->
    <script id="j-tmpl" type="text/template">
        {{ if(it.success){ }}

                {{ for (var i = 0, l = it.data.length; i < l; i++) { }}

                      <tr>
                        <td class="center">
                          <label>
                            <input type="checkbox" class="ace" />
                            <span class="lbl"></span>
                          </label>
                        </td>
                        <td>
                          <a href="#">{{=it.data[i].id}}</a>
                        </td>
                        <td>{{=it.data[i].title}}</td>
                        <td class="hidden-480">{{=it.data[i].time}}</td>
                        <td>{{=it.data[i].username}}</td>
                        <td class="hidden-480">
                          <span class="label label-sm label-warning">待判定</span>
                        </td>
                        <td>
                          <div class="visible-md visible-lg hidden-sm hidden-xs btn-group">
                            <button class="btn btn-xs btn-success">
                              <i class="icon-ok bigger-120"></i>
                            </button>
                            <button class="btn btn-xs btn-info">
                              <a href="#modal-form" role="button" data-toggle="modal"><i class="icon-edit bigger-120"></i></a>
                            </button>
                            <button class="btn btn-xs btn-danger">
                              <i class="icon-trash bigger-120"></i>
                            </button>
                            <button class="btn btn-xs btn-warning">
                              <i class="icon-flag bigger-120"></i>
                            </button>
                          </div>
                          <div class="visible-xs visible-sm hidden-md hidden-lg">
                            <div class="inline position-relative">
                              <button class="btn btn-minier btn-primary dropdown-toggle" data-toggle="dropdown">
                                <i class="icon-cog icon-only bigger-110"></i>
                              </button>
                              <ul class="dropdown-menu dropdown-only-icon dropdown-yellow pull-right dropdown-caret dropdown-close">
                                <li>
                                  <a href="#" class="tooltip-info" data-rel="tooltip" title="View">
                                    <span class="blue">
                                      <i class="icon-zoom-in bigger-120"></i>
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="tooltip-success" data-rel="tooltip" title="Edit">
                                    <span class="green">
                                      <i class="icon-edit bigger-120"></i>
                                    </span>
                                  </a>
                                </li>
                                <li>
                                  <a href="#" class="tooltip-error" data-rel="tooltip" title="Delete">
                                    <span class="red">
                                      <i class="icon-trash bigger-120"></i>
                                    </span>
                                  </a>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </td>
                      </tr>

                {{ } }}

        {{ }else{ }}

                <h2>暂无数据</h2>

        {{ } }}
    </script>
    <script src="__PUBLIC__/Admin/doT-master/doT.js"></script>
    <script type="text/javascript">
        $(function(){
            //smartMenu右键自定义上下文菜单插件初使化
            Fn_Init_smartMenu();
            
            $('.ui-state-default.ui-jqgrid-hdiv').click(function(){
                Fn_Init_smartMenu();
            });

            $('.ui-jqgrid-bdiv').click(function(){
                Fn_Init_smartMenu();
            });
        });
    </script>
    <!-- 模板引擎doT.js    end -->

    <!-- jQuery smartMenu右键自定义上下文菜单插件  start -->
    <script type="text/javascript" src="__PUBLIC__/Admin/jquery-smartMenu/js/jquery-smartMenu.js"></script>
    <script>
        function Fn_Init_smartMenu(){
            var chkSingle = $("th input"), chkGroup = $("td input");
            var funTrStyle = function() {
              chkGroup.each(function() {
                if ($(this).attr("checked")) {
                  $(this).parents("tr").addClass("bg"); 
                } else {
                  $(this).parents("tr").removeClass("bg");  
                }
              });
            }, funTrGet = function() {
              return  $("td input:checked").parents("tr");
            };

            chkSingle.bind("click", function() {
              if ($(this).attr("checked")) {
                chkGroup.attr("checked", "checked");
              } else {
                chkGroup.attr("checked", "");
              }
              funTrStyle(); 
            });

            chkGroup.bind("click", funTrStyle);
            funTrStyle();

            //自定义右键上下文
            var objDelete = {
              text: "删除",
              func: function() {
                  $('#del_grid-table').trigger('click');
              } 
            }, objShow = {
              text: "查看",
              func: function() {
                  $('#view_grid-table').trigger('click');
              } 
            }, objEdit = {
              text: "编辑",
              func: function() {
                  $('#edit_grid-table').trigger('click');
              }
            }, objUnRead = {}, objSend = {};

            var mailMenuData = [
              [objDelete, objShow]
            ];

            $("#grid-table>tbody>tr").smartMenu(mailMenuData, {
              name: "mail",
              beforeShow: function() {    
                //根据选中的是否是已读显示不同的上下文菜单
                $(this).find("input").attr("checked", "checked"); 
                funTrStyle();

                //动态数据，及时清除
                $.smartMenu.remove();

                //确定显示数据 - 主要是已读与未读
                var numTrBold = 0, numTrNormal = 0, eleTr = funTrGet();
                eleTr.each(function() {
                  if ($(this).css("font-weight") === "700") {
                    numTrBold++; 
                  } 
                  if ($(this).css("font-weight") === "400") {
                    numTrNormal++;  
                  }
                });

                if (eleTr.size() === numTrBold) {
                  //全是粗体  
                  mailMenuData[1] = [objEdit];
                } else if (eleTr.size() === numTrNormal) {
                  //全是正常
                  mailMenuData[1] = [objEdit];
                } else {
                  //混杂
                  mailMenuData[1] = [objEdit];
                }
              }
            });
        }
    </script>
    <!-- jQuery smartMenu右键自定义上下文菜单插件  end -->


    <!-- 编辑模具 start-->
    <div id="dialog-confirm_edit" class="hide">
       <div class="row">
           <form class="layui-form layui-form-pane col-xs-12" action="">

            <table id="sample-table_edit" class="table table-striped table-bordered table-hover">
                <tbody id="edit_form">
                  <tr>
                    <td class="center">
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label">日期</label>
                          <div class="layui-input-inline">
                            <input type="text" name="Date" placeholder="2017-3-12" autocomplete="off" class="layui-input Date">
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item"> 
                          <label class="layui-form-label">下线时间</label>
                          <div class="layui-input-inline">
                            <input type="text" name="EndTime" placeholder="9:00:00" autocomplete="off" class="layui-input EndTime">
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td class="center">
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label">零件名称</label>
                          <div class="layui-input-inline">
                            <select name="PartID" class="PartID" id="part_name_select">
                               <option value="请选择">请选择</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item"> 
                          <label class="layui-form-label">模具名称</label>
                          <div class="layui-input-inline">
                            <select name="MouldID" class="MouldID" id="mould_name_select">
                               <option value="请选择">请选择</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td class="center">
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label">线体</label>
                          <div class="layui-input-inline">
                            <select name="Line" class="Line">
                               <option value="请选择">请选择</option>
                               <option value="A">A</option>
                               <option value="B">B</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </td>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item"> 
                          <label class="layui-form-label">生产工单</label>
                          <div class="layui-input-inline">
                             <input type="text" name="WorkOrderID" placeholder="生产工单" autocomplete="off" class="layui-input WorkOrderID">
                          </div>
                        </div>
                      </div>
                    </td>
                  </tr>

                  <tr>
                    <td colspan="2" style="text-align:right;">
                      <button class="layui-btn demo1_edit" lay-submit="" lay-filter="demo1_edit">确认</button>
                    </td>
                  </tr>
                  
                </tbody>
            </table>

           </form>
        </div>
    </div><!-- #dialog-confirm -->
    
    <script type="text/javascript">
        $(function(){
            _ajax_part_name_list();
            _ajax_mould_name_list();

            //编辑
            $( ".id-btn-dialog2_edit" ).on('click', function(e) {
              e.preventDefault();

              var _id=$(this).attr('data-id');
              $('.demo1_edit').attr('data-id',_id);

              //渲染数据
              var _json=_ajax_get_row_info(_id);

              $( "#dialog-confirm_edit" ).removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "",
                width:800,
                title_html: true
              });

              $("div[aria-describedby='dialog-confirm_edit'] div span.ui-dialog-title").html("<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 编辑：</h4></div>");
            });

            //删除
            $( ".id-btn-dialog2_del" ).on('click', function(e) {
              e.preventDefault();

              var id=$(this).attr('data-id');

              if(confirm("确定要删除？")){
                  _ajax_del(id);
              }

            });
        });
    </script>


    <script>
        layui.use(['form', 'laydate'], function(){
          var form = layui.form()
          ,layer = layui.layer
          ,laydate = layui.laydate;

          var start = {
            istoday: false
            ,choose: function(datas){
              end.min = datas; //开始日选好后，重置结束日的最小日期
              end.start = datas //将结束日的初始值设定为开始日
            }
          };

          var end = {
            istoday: false
            ,choose: function(datas){
              start.max = datas; //结束日选好后，重置开始日的最大日期
            }
          };

          document.getElementById('LAY_demorange_s').onclick = function(){
            start.elem = this;
            laydate(start);
          }

          document.getElementById('LAY_demorange_e').onclick = function(){
            end.elem = this
            laydate(end);
          }

          //监听提交
          form.on('submit(demo1)', function(data){
            layer.alert(JSON.stringify(data.field), {
              title: '最终的提交信息'
            })
            return false;
          });

          //监听提交
          form.on('submit(demo1_edit)', function(data){
            var _id=$(this).attr('data-id');
            var _json=_ajax_edit(data.field, _id);
            return false;
          });


        });
    </script>
  </body>
</html>

