<include file="Public/header"/>
    <!-- basic styles -->
    <link href="__PUBLIC__/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/chosen.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/daterangepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/colorpicker.css" />
    
    <!-- 模块jqgrid  start -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ui.jqgrid.css" />
    <!-- 模块jqgrid  end -->

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/google_font_css.css">

    <!-- ace styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-skins.min.css" />

    <!-- jQuery smartMenu右键自定义上下文菜单插件  start -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/jquery-smartMenu/css/smartMenu.css" type="text/css" />
    <!-- jQuery smartMenu右键自定义上下文菜单插件  end -->

    <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/my_diy_css.css"  media="all">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="__PUBLIC__/Admin/assets/js/ace-extra.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jquery.min.js"></script>
    <!-- layui.js   -->
    <script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
<script>

  

</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->



    <!--[if lt IE 9]>

    <script src="__PUBLIC__/Admin/assets/js/html5shiv.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/respond.min.js"></script>

    <![endif]-->

  </head>

  <body>
    <div class="navbar navbar-default" id="navbar">
      <include file="Public/navbar"/>
    </div>

    <div class="main-container" id="main-container">

      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>

      <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
          <span class="menu-text"></span>
        </a>

        <!-- 左侧菜单栏 start-->
        <div class="sidebar" id="sidebar">
          <include file="Public/left"/>
        </div>
        
        <!-- 右侧主要内容 start-->
        <div class="main-content">
          

          <!-- 右block_1  start -->
          <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
              try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
              <include file="Public/_breadcrumb"/>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
              <form class="form-search">
                <span class="input-icon">
                  <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                  <i class="icon-search nav-search-icon"></i>
                </span>
              </form>
            </div><!-- #nav-search -->
          </div>
          <!-- 右block_1  end -->

          <div class="page-content">

            <div class="row">
              <div class="col-xs-12">
				<style>
				  .layui-form-item{margin-bottom: 0px;}
				  #gbox_grid-table{width: 100%!important;}
				  #gview_grid-table{width: 100%!important;}
				  #gview_grid-table>div{width: 100%!important;}
				  #trv_Modify,#trv_Delete{display: none;}

				  #sample-table-1 .layui-form-label{width: auto!important;}
				</style>

				<!-- 权限设置  start -->
                <div class="row">
                  <include file="Public/role_page_setting"/>
                </div>
                <!-- 权限设置  end -->

                <!-- 搜索  start -->
                <div class="row">
                    <form class="layui-form layui-form-pane col-xs-12" action="" method="post">
                    	<table id="sample-table-1" class="table table-striped table-bordered table-hover">
							<tbody>
								<tr>
									<td class="center">
										<div class="layui-inline">
										  <div class="layui-form-item">
										  	<label class="layui-form-label tr_row">车型1</label>
										    <div class="layui-input-inline">
										      <select name="CarID_0">
										        <option value="请选择车型">请选择车型</option>
										        <option value="A">A</option>
										        <option value="B">B</option>
										        <option value="C">C</option>
										        <option value="D">D</option>
										      </select>
										    </div>
										  </div>
										</div> 
									</td>
									<td>
										<div class="layui-inline">
			                              <div class="layui-form-item">
			                              	<label class="layui-form-label">数量</label>	
			                                <div class="layui-input-inline">
			                                  <input type="text" name="Num_0" placeholder="数量" autocomplete="off" class="layui-input">
			                                </div>
			                              </div>
			                            </div>
									</td>
									<td>
										<div class="layui-inline">
			                              <div class="layui-form-item">
			                              	<label class="layui-form-label">日消耗</label>
			                                <div class="layui-input-inline">
			                                  <input type="text" name="DayNum_0" placeholder="日消耗" autocomplete="off" class="layui-input">
			                                </div>
			                              </div>
			                            </div> 
									</td>
									<td>
										<div class="layui-inline">
										  <div class="layui-form-item">
										  	<label class="layui-form-label">产线</label>
										    <div class="layui-input-inline">
										      <select>
										        <option value="A">A</option>
										        <option value="B">B</option>
										      </select>
										    </div>
										  </div>
										</div> 
									</td>
								</tr>
								<tr>
									<td class="center">
										<div class="layui-inline">
										  <div class="layui-form-item">
										  	<label class="layui-form-label tr_row">车型2</label>
										    <div class="layui-input-inline">
										      <select name="CarID_1">
										        <option value="请选择车型">请选择车型</option>
										        <option value="A">A</option>
										        <option value="B">B</option>
										        <option value="C">C</option>
										        <option value="D">D</option>
										      </select>
										    </div>
										  </div>
										</div> 
									</td>
									<td>
										<div class="layui-inline">
			                              <div class="layui-form-item">
			                              	<label class="layui-form-label">数量</label>
			                                <div class="layui-input-inline">
			                                  <input type="text" name="Num_1" placeholder="数量" autocomplete="off" class="layui-input">
			                                </div>
			                              </div>
			                            </div>
									</td>
									<td>
										<div class="layui-inline">
			                              <div class="layui-form-item">
			                              	<label class="layui-form-label">日消耗</label>
			                                <div class="layui-input-inline">
			                                  <input type="text" name="DayNum_1" placeholder="日消耗" autocomplete="off" class="layui-input">
			                                </div>
			                              </div>
			                            </div> 
									</td>
									<td>
										<div class="layui-inline">
			                              <div class="layui-form-item">
			                              	<label class="layui-form-label">开始时间</label>
			                                <div class="layui-input-inline">
			                                  <input class="layui-input" placeholder="开始时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
			                                </div>
			                              </div>
			                            </div> 
									</td>
								</tr>
								<tr>
									<td class="center">
										<div class="layui-inline">
										  <div class="layui-form-item">
										  	<label class="layui-form-label tr_row">车型3</label>
										    <div class="layui-input-inline">
										      <select name="CarID_2">
										        <option value="请选择车型">请选择车型</option>
										        <option value="A">A</option>
										        <option value="B">B</option>
										        <option value="C">C</option>
										        <option value="D">D</option>
										      </select>
										    </div>
										  </div>
										</div> 
									</td>
									<td>
										<div class="layui-inline">
			                              <div class="layui-form-item">
			                              	<label class="layui-form-label">数量</label>
			                                <div class="layui-input-inline">
			                                  <input type="text" name="Num_2" placeholder="数量" autocomplete="off" class="layui-input">
			                                </div>
			                              </div>
			                            </div>
									</td>
									<td>
										<div class="layui-inline">
			                              <div class="layui-form-item">
			                              	<label class="layui-form-label">日消耗</label>
			                                <div class="layui-input-inline">
			                                  <input type="text" name="DayNum_2" placeholder="日消耗" autocomplete="off" class="layui-input">
			                                </div>
			                              </div>
			                            </div> 
									</td>
									<td>
										<a href="javascript:;" class="btn btn-primary add_row" title="add_row"> <i class="layui-icon">&#xe608;</i> 添加</a>
										<a href="javascript:;" class="btn btn-primary">导入</a>
										<a href="javascript:;" class="btn btn-primary" lay-submit="" lay-filter="demo1_paicheng">排程</a>
										<a href="javascript:;" class="btn btn-primary">生成生产工单</a>
									</td>
								</tr>
								<tr>
									<td class="center">
										<div class="layui-inline">
										  <div class="layui-form-item">
										  	<label class="layui-form-label tr_row">车型4</label>
										    <div class="layui-input-inline">
										      <select name="CarID_3">
										        <option value="请选择车型">请选择车型</option>
										        <option value="A">A</option>
										        <option value="B">B</option>
										        <option value="C">C</option>
										        <option value="D">D</option>
										      </select>
										    </div>
										  </div>
										</div> 
									</td>
									<td>
										<div class="layui-inline">
			                              <div class="layui-form-item">
			                              	<label class="layui-form-label">数量</label>
			                                <div class="layui-input-inline">
			                                  <input type="text" name="Num_3" placeholder="数量" autocomplete="off" class="layui-input">
			                                </div>
			                              </div>
			                            </div>
									</td>
									<td>
										<div class="layui-inline">
			                              <div class="layui-form-item">
			                              	<label class="layui-form-label">日消耗</label>
			                                <div class="layui-input-inline">
			                                  <input type="text" name="DayNum_3" placeholder="日消耗" autocomplete="off" class="layui-input">
			                                </div>
			                              </div>
			                            </div> 
									</td>
									<td>
										
									</td>
								</tr>
							</tbody>
						</table>
                    </form>
                </div>
                <!-- 搜索  end -->

                <div class="row">
	                <div class="col-xs-12">
	                	<div class="tabbable">
							<ul class="nav nav-tabs" id="myTab">
								<li class="active">
									<a href="{:U('Admin/Course/index')}">
										生产计划
									</a>
								</li>

								<li class="">
									<a href="{:U('Admin/Course/index_wljh')}">
										物料计划
									</a>
								</li>
							</ul>

							<div class="tab-content">
								<div id="home" class="tab-pane active">
									<table id="grid-table"></table>
									<div id="grid-pager"></div>
								</div>

								<div id="profile" class="tab-pane">
									物料计划
								</div>
							</div>
						</div>
					</div>
                </div>

                <!-- 统计  start -->
                <div class="row">
                    <a id="echart_pie" href="javascript:;" class="weui_grid js_grid" data-id="toast" style="height:300px;width:100%;display:block;"></a>
                </div>
                <!-- 统计  end -->


                <!-- PAGE CONTENT BEGINS -->
                <script type="text/javascript">
                  var $path_base = "/";//this will be used in gritter alerts containing images
                </script>

                <!-- PAGE CONTENT ENDS -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.page-content -->

        </div><!-- /.main-content -->
        <!-- 右侧主要内容 end-->

        
        
        <!-- 模板相关设置 -->
        <include file="Public/ace-settings-container"/>

      </div><!-- /.main-container-inner -->



      <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">

        <i class="icon-double-angle-up icon-only bigger-110"></i>

      </a>

    </div><!-- /.main-container -->

    <!-- 底栏版本说明 -->
    <include file="Public/footer"/>

    <!-- basic scripts -->

    <!--[if !IE]> -->



    <!-- <![endif]-->



    <!--[if IE]>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<![endif]-->



    <!--[if !IE]> -->



    <script type="text/javascript">

      window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");

    </script>



    <!-- <![endif]-->



    <!--[if IE]>

<script type="text/javascript">

 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");

</script>

<![endif]-->



    <script type="text/javascript">

      if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");

    </script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/typeahead-bs2.min.js"></script>



    <!-- page specific plugin scripts -->

    <script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/chosen.jquery.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/fuelux/fuelux.spinner.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-timepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/moment.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/daterangepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap-colorpicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.knob.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.autosize.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.maskedinput.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap-tag.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.bootstrap.js"></script>
    
    <!-- 模块jqgrid  start -->
    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <!-- <script src="__PUBLIC__/Admin/assets/js/jqGrid/i18n/grid.locale-en.js"></script> -->
    <script src="__PUBLIC__/Admin/assets/js/jqGrid/i18n/grid.locale-zh.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>
    
    <!-- 模块jqgrid  end -->

    <!-- ace scripts -->



    <script src="__PUBLIC__/Admin/assets/js/ace-elements.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/ace.min.js"></script>

    

    <!-- inline scripts related to this page -->


    <script type="text/javascript">
      //数据列表初使化
      jQuery.support.cors=true;
      var grid_data=_ajax_list_device();

      //获取列表
      function _ajax_list_device(){
	      	$.ajax({  
	      	    async:false,
	      	    type:'post',  
	      	    url : 'http://118.89.46.84/Default.ashx?TaskID=4070',
	      	    dataType : 'json',
	      	    success  : function(json) {  
	      	        if(json.code==0){
	      	            grid_data=json.data;
	      	        }else{
	      	            layer.msg(json.msg);
	      	        }
	      	    },
	      	    error  : function(json) {  
	      	        layer.msg(json.msg);
	      	    }  
	      	});  
	      	return grid_data;  
      } 

      //异步添加设备
      function _ajax_add_device(data){



          var M_Name=data.M_Name;
          var M_Number=data.M_Number;
          var M_Manufacturer=data.M_Manufacturer;
          var M_Procedure=data.M_Procedure;
          var M_Length=data.M_Length;
          var M_Width=data.M_Width;
          var M_Height=data.M_Height;
          var M_UpWeight=data.M_UpWeight;
          var M_DownWeight=data.M_DownWeight;
          var M_ProductLine=data.M_ProductLine;
          var M_DownHeight=data.M_DownHeight;
          var M_InstallHeight=data.M_InstallHeight;
          var M_CloseHeight=data.M_CloseHeight;
          var M_BlankHolderForce=data.M_BlankHolderForce;
          var M_FormingForce=data.M_FormingForce;
          var M_CareFromTimes=data.M_CareFromTimes;
          var M_CareFromDate=data.M_CareFromDate;
          var M_ChargePerson=data.M_ChargePerson;
          var M_Status=data.M_Status;

          var _add_data ="{";
              _add_data+="'M_Name':'"+M_Name+"','M_Number':'"+M_Number+"','M_Manufacturer':'"+M_Manufacturer+"','M_Procedure':'"+M_Procedure+"',";
              _add_data+="'M_Length':'"+M_Length+"','M_Width':'"+M_Width+"','M_Height':'"+M_Height+"','M_UpWeight':'"+M_UpWeight+"'";
              _add_data+="'M_DownWeight':'"+M_DownWeight+"','M_ProductLine':'"+M_ProductLine+"','M_DownHeight':'"+M_DownHeight+"','M_InstallHeight':'"+M_InstallHeight+"'";
              _add_data+="'M_CloseHeight':'"+M_CloseHeight+"','M_BlankHolderForce':'"+M_BlankHolderForce+"','M_FormingForce':'"+M_FormingForce+"','M_CareFromTimes':'"+M_CareFromTimes+"'";
              _add_data+="'M_CareFromDate':'"+M_CareFromDate+"','M_ChargePerson':'"+M_ChargePerson+"','M_Status':'"+M_Status+"'";
              _add_data+="}";
          var _id;
          $.ajax({  
              async:false,
              type:'post',  
              contentType:"application/x-www-form-urlencoded",
              url : 'http://118.89.46.84/Default.ashx?TaskID=2013',
              data: _add_data,
              dataType : 'json',
              success  : function(json) {  
                  if(json.code == 0){
                      _id=json.data.RowID;
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function() {  
                  layer.msg('接口错误');
              }  
          }); 
          return _id;  
      }

      //异步编辑设备
      function _ajax_edit_device(data){
          var M_Name=data.M_Name;
          var M_Number=data.M_Number;
          var M_Manufacturer=data.M_Manufacturer;
          var M_Procedure=data.M_Procedure;
          var M_Length=data.M_Length;
          var M_Width=data.M_Width;
          var M_Height=data.M_Height;
          var M_UpWeight=data.M_UpWeight;
          var M_DownWeight=data.M_DownWeight;
          var M_ProductLine=data.M_ProductLine;
          var M_DownHeight=data.M_DownHeight;
          var M_InstallHeight=data.M_InstallHeight;
          var M_CloseHeight=data.M_CloseHeight;
          var M_BlankHolderForce=data.M_BlankHolderForce;
          var M_FormingForce=data.M_FormingForce;
          var M_CareFromTimes=data.M_CareFromTimes;
          var M_CareFromDate=data.M_CareFromDate;
          var M_ChargePerson=data.M_ChargePerson;
          var M_Status=data.M_Status;

          var RowID=data.RowID;

          var _edit_data ="{";
              _edit_data+="'M_Name':'"+M_Name+"','M_Number':'"+M_Number+"','M_Manufacturer':'"+M_Manufacturer+"','M_Procedure':'"+M_Procedure+"',";
              _edit_data+="'M_Length':'"+M_Length+"','M_Width':'"+M_Width+"','M_Height':'"+M_Height+"','M_UpWeight':'"+M_UpWeight+"',";
              _edit_data+="'M_DownWeight':'"+M_DownWeight+"','M_ProductLine':'"+M_ProductLine+"','M_DownHeight':'"+M_DownHeight+"','M_InstallHeight':'"+M_InstallHeight+"',";
              _edit_data+="'M_CloseHeight':'"+M_CloseHeight+"','M_BlankHolderForce':'"+M_BlankHolderForce+"','M_FormingForce':'"+M_FormingForce+"','M_CareFromTimes':'"+M_CareFromTimes+"',";
              _edit_data+="'M_CareFromDate':'"+M_CareFromDate+"','M_ChargePerson':'"+M_ChargePerson+"','M_Status':'"+M_Status+"',";
              _edit_data+="'RowID':'"+RowID+"'}";

          var _json;
          $.ajax({  
              async:false,
              type:'post',  
              contentType:"application/x-www-form-urlencoded",
              url : 'http://118.89.46.84/Default.ashx?TaskID=2014',
              data: _edit_data,
              dataType : 'json',
              success  : function(json) {  
                  if(json.code == 0){
                      // alert(json.msg);
                      _json=json;
                  }else{
                      alert(json.msg);
                  }
              },
              error  : function() {  
                  alert('接口错误');
              }  
          }); 
          return _json;  
      }

      //异步删除设备
      function _ajax_del_device(id){
      	  var ajax_url;
      	  if(id.indexOf("&") > 0 ){
      	  	  // 多个删除
      	  	  ajax_url="http://118.89.46.84/Default.ashx?TaskID=2017";
      	  }else{
      	  	  // 单个删除
      	  	  ajax_url="http://118.89.46.84/Default.ashx?TaskID=2015";
      	  }

          var _RowID='{"RowID":"'+id+'"}';
          var _json;
          $.ajax({  
              async:false,
              type:'post',  
              contentType:"application/x-www-form-urlencoded",
              url : ajax_url,
              data: _RowID,
              dataType : 'json',
              success  : function(json) {  
                  if(json.code == 0){
                      _json=json;
                  }else{
                      layer.msg(json.msg);
                  }
              },
              error  : function() {  
                  layer.msg('接口错误');
              }  
          }); 
          return _json;  
      }

      jQuery(function($) {
      	//删除一行
      	$('body').on('click','.row_del',function(){
      		// layer.msg('删除一行');
      		$('#del_grid-table').trigger('click');
      	});
      	//编辑一行
      	$('body').on('click','.row_edit',function(){
      		// layer.msg('编辑一行');
      		$('#edit_grid-table').trigger('click');
      	});

      	//page-header 修改
        var grid_selector = "#grid-table";
        var pager_selector = "#grid-pager";
      
        jQuery(grid_selector).jqGrid({
          //direction: "rtl",
          
          data: grid_data,
          datatype: "local",
          height: 430,
          colNames:['RowID', '零件名称','模具','线体','开始时间','结束时间','生产数量','操作'],
          colModel:[
            {name:'RowID',index:'RowID',  sorttype:"int",align : "center", hidden: true, editable: true ,sortable: false},
            
            {name:'PartName',index:'PartName', editable:true,align : "center", sortable: false, editrules: { required: true }},
            {name:'MouldName',index:'MouldName', editable: true,align : "center", editrules: { required: true }},
            {name:'Line',index:'Line', editable: true,align : "center", editrules: { required: true }},
            {name:'StartTime',index:'StartTime', editable: true,align : "center", editrules: { required: true }},
            {name:'EndTime',index:'EndTime', editable: true,align : "center", editrules: { required: true }},
            {name:'Num',index:'Num', editable: true,align : "center", editrules: { required: true }},

            {name:'Operates',index:'Operates',align:'center',width:300,sortable:false}
          ], 
      	  rownumbers:true,
      	  rownumWidth:50,//设置行号列宽度
      	  // sortname:"RowID",//指定默认排序的列
      	  // sortorder:"desc",//指定默认排序方式
      	  autowidth:true,
      	  shrinkToFit:true,//ture，则按比例初始化列宽度。如果为false，则列宽度使用colModel指定的宽度
      	  // width:window.srceen.availWidth-20,
          viewrecords : true,
          rowNum:10,
          rowList:[10,20,30],
          pager : pager_selector,
          altRows: true,
          //toppager: true,
          multiselect: true,
          //multikey: "ctrlKey",
          multiboxonly: true,
      
          loadComplete : function() {
          	// alert('刷新')；
            var table = this;
            setTimeout(function(){
              styleCheckbox(table);
              
              updateActionIcons(table);
              updatePagerIcons(table);
              enableTooltips(table);
            }, 0);
          },
      
          // editurl: $path_base+"/dummy.html",//nothing is saved
          editurl: "{:U('Admin/Index/dummy')}",//nothing is saved
          // caption: "添加生产排程",

          gridComplete:function(){  //在此事件中循环为每一行添加修改和删除链接
              var ids=jQuery(grid_selector).jqGrid('getDataIDs');
              for(var i=0; i<ids.length; i++){
                  var id=ids[i];   

                  var _rowData = $(grid_selector).jqGrid('getRowData',id);

                  var operate = "<button style='margin-right:5px;' class='btn btn-primary btn-xs id-btn-dialog2_insert' title='id-btn-dialog2_insert'><i class='icon-edit bigger-110'></i>插入</button>";
                  	  operate+= "<button style='margin-right:5px;' class='btn btn-primary btn-xs id-btn-dialog2_edit' title='id-btn-dialog2_edit'><i class='icon-edit bigger-110'></i>修改</button>";
                  	  operate+= "<button style='margin-right:5px;' class='btn btn-danger btn-xs'><i class='icon-trash bigger-110'></i>删除</button>";   
                  	  // operate+= "<button style='margin-right:5px;' class='btn btn-danger btn-xs'><i class='icon-trash bigger-110'></i>上升</button>"; 
                  	  // operate+= "<button style='margin-right:5px;' class='btn btn-danger btn-xs'><i class='icon-trash bigger-110'></i>下降</button>"; 
                  jQuery(grid_selector).jqGrid('setRowData', ids[i], { Operates: operate });
              }

              // //标头居中
              // $(grid_selector).closest("div.ui-jqgrid-view")
              //                 .children("div.ui-jqgrid-titlebar")
              //                 .css("text-align", "center")
              //                 .children("span.ui-jqgrid-title")
              //                 .css("float", "none");


              // $(window).resize(function(){　　
              // 		$(grid_selector).setGridWidth($(window).width()*0.5);　　
              // 		$(grid_selector).setGridWidth(document.body.clientWidth*0.5);　　
              // });　　

         //    $(window).resize(function(){   
	        //  		$(grid_selector).setGridWidth($(window).width());
	        // });

          },

          autowidth: true
      
        });
      
        //enable search/filter toolbar
        //jQuery(grid_selector).jqGrid('filterToolbar',{defaultSearch:true,stringResult:true})
      
        //switch element when editing inline
        function aceSwitch( cellvalue, options, cell ) {
          setTimeout(function(){
            $(cell) .find('input[type=checkbox]')
                .wrap('<label class="inline" />')
              .addClass('ace ace-switch ace-switch-5')
              .after('<span class="lbl"></span>');
          }, 0);
        }
        //enable datepicker
        function pickDate( cellvalue, options, cell ) {
          setTimeout(function(){
            $(cell) .find('input[type=text]')
                .datepicker({format:'yyyy-mm-dd' , autoclose:true}); 
          }, 0);
        }
      
      
        //navButtons
        jQuery(grid_selector).jqGrid('navGrid',pager_selector,
          {   //navbar options
            edit: true,
            editicon : 'icon-pencil blue',
            add: true,
            addicon : 'icon-plus-sign purple',
            del: true,
            delicon : 'icon-trash red',
            search: true,
            searchicon : 'icon-search orange',
            refresh: true,
            refreshicon : 'icon-refresh green',
            view: true,
            viewicon : 'icon-zoom-in grey',
          },
          {
            //编辑 record form
            //closeAfterEdit: true,
            recreateForm: true,
            // beforeShowForm : function(e) {
            //   var form = $(e[0]);
            //   form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            //   style_edit_form(form);
            // }

            //eidt  
            // url: "{:U('Admin/Site/device_edit')}", 
            mtype: 'POST',  
            afterSubmit: function (xhr, postdata) {  

            	console.log(postdata);
                var _json=_ajax_edit_device(postdata);

                if(_json.code == 0){
                    layer.msg(_json.msg);
                    var id = $(grid_selector).jqGrid('getGridParam', 'selrow'); 
                    // console.log(id);
                    // console.log(postdata);  
                    jQuery(grid_selector).jqGrid('setRowData', id, postdata);  
                    // return [true, 'successfule!', false];
                    $('#cData').trigger('click');
                }else{
                    layer.msg(_json.msg);
                }
            }, 
            closeAfterEdit: true, 
            closeOnEscape: true 
          },
          {
            //添加 record form
            // closeAfterAdd: true,
            // recreateForm: true,
            // viewPagerButtons: false,
            // beforeShowForm : function(e) {
            //   var form = $(e[0]);
            //   form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            //   style_edit_form(form);
            // }

            //add 
            recreateForm: true,  
            mtype: 'POST',  
            afterSubmit: function (xhr, postdata) {
                //异步添加设备
                var _id=_ajax_add_device(postdata);
				postdata.RowID=_id;

                if(_id){
                    layer.msg('添加成功');
                    jQuery(grid_selector).jqGrid('addRowData', _id, postdata);  
                    return [true, 'successfule!', false];  
                }else{
                    layer.msg('添加失败');
                }
            }, 
            closeAfterAdd: true 
          },
          {
            //delete record form
            // recreateForm: true,
            // beforeShowForm : function(e) {
            //   var form = $(e[0]);
            //   if(form.data('styled')) return false;
              
            //   form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
            //   style_delete_form(form);
              
            //   form.data('styled', true);
            // },
            // onClick : function(e) {
            //   alert(1);
            // }


            //delete  
	        recreateForm: true,  
	        // url: "{:U('Admin/Site/device_del')}",  
	        mtype: 'POST',  
	        beforeShowForm: function (e) {  
	            var form = $(e[0]);  
	            if (form.data('styled')) return false;  
	            form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />');  
	            style_delete_form(form);  
	            form.data('styled', true); return true;  
	        },  
	        afterSubmit: function (xhr, postdata) {
	        	var number=postdata.id;

	        	if(number.indexOf(",") > 0 ){
	        		  // 多个
	        		  // var ids=number.replace(/,/g,'&');
	        		  var ids_arr = number.split(',');
	        		  var RowIDs_arr=[];
						for(var i in ids_arr){
						  	var rowData = $(grid_selector).jqGrid("getRowData",ids_arr[i]);
							RowIDs_arr.push(rowData.RowID);
						}
					  var RowIDs_str=RowIDs_arr.join('&');
	        		  console.log(RowIDs_str);

	     			  //异步删除设备
	        		  var _json=_ajax_del_device(RowIDs_str);
	        	}else{
	        		  // 单个
	        		  var rowData = $(grid_selector).jqGrid("getRowData",number);
	        		  var id=rowData.RowID;
	        		  //异步删除设备
	        		  var _json=_ajax_del_device(id);
	        	}

	        	
	        	if(_json.code==0){
	        		var consoleDlg = $(grid_selector);  
	        		
	        		var selectedRowIds = $(grid_selector).jqGrid("getGridParam", "selarrrow"); 
	        		var len = selectedRowIds.length;  
	        		for (var i = 0; i < len ; i++) {  
	        		    $(grid_selector).jqGrid("delRowData", selectedRowIds[0]);  
	        		}  

	        		return [true, 'successfule!', false]; 
	        	}else{
	        		layer.msg(_json.msg);
	        	}
	        },  
	        closeAfterDel: true 
          },
          {
            //search form
            recreateForm: true,
            afterShowSearch: function(e){
              var form = $(e[0]);
              form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
              style_search_form(form);
            },
            afterRedraw: function(){
              style_search_filters($(this));
            }
            ,
            multipleSearch: true,
            closeAfterSearch: true
            /**
            multipleGroup:true,
            showQuery: true
            */
          },
          {
            //view record form
            recreateForm: true,
            beforeShowForm: function(e){
              var form = $(e[0]);
              form.closest('.ui-jqdialog').find('.ui-jqdialog-title').wrap('<div class="widget-header" />')
            }
          }
        )
      
      
        
        function style_edit_form(form) {
          //enable datepicker on "sdate" field and switches for "stock" field
          form.find('input[name=sdate]').datepicker({format:'yyyy-mm-dd' , autoclose:true})
            .end().find('input[name=stock]')
                .addClass('ace ace-switch ace-switch-5').wrap('<label class="inline" />').after('<span class="lbl"></span>');
      
          //update buttons classes
          var buttons = form.next().find('.EditButton .fm-button');
          buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
          buttons.eq(0).addClass('btn-primary').prepend('<i class="icon-ok"></i>');
          buttons.eq(1).prepend('<i class="icon-remove"></i>')
          
          buttons = form.next().find('.navButton a');
          buttons.find('.ui-icon').remove();
          buttons.eq(0).append('<i class="icon-chevron-left"></i>');
          buttons.eq(1).append('<i class="icon-chevron-right"></i>');   
        }
      	
      	//修改 删除form的样式  
        function style_delete_form(form) {
          var buttons = form.next().find('.EditButton .fm-button');
          buttons.addClass('btn btn-sm').find('[class*="-icon"]').remove();//ui-icon, s-icon
          buttons.eq(0).addClass('btn-danger').prepend('<i class="icon-trash"></i>');
          buttons.eq(1).prepend('<i class="icon-remove"></i>')
        }
        
        function style_search_filters(form) {
          form.find('.delete-rule').val('X');
          form.find('.add-rule').addClass('btn btn-xs btn-primary');
          form.find('.add-group').addClass('btn btn-xs btn-success');
          form.find('.delete-group').addClass('btn btn-xs btn-danger');
        }
        function style_search_form(form) {
          var dialog = form.closest('.ui-jqdialog');
          var buttons = dialog.find('.EditTable')
          buttons.find('.EditButton a[id*="_reset"]').addClass('btn btn-sm btn-info').find('.ui-icon').attr('class', 'icon-retweet');
          buttons.find('.EditButton a[id*="_query"]').addClass('btn btn-sm btn-inverse').find('.ui-icon').attr('class', 'icon-comment-alt');
          buttons.find('.EditButton a[id*="_search"]').addClass('btn btn-sm btn-purple').find('.ui-icon').attr('class', 'icon-search');
        }
        
        function beforeDeleteCallback(e) {
          var form = $(e[0]);
          if(form.data('styled')) return false;
          
          form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
          style_delete_form(form);
          
          form.data('styled', true);
        }
        
        function beforeEditCallback(e) {
          var form = $(e[0]);
          form.closest('.ui-jqdialog').find('.ui-jqdialog-titlebar').wrapInner('<div class="widget-header" />')
          style_edit_form(form);
        }
      
      
      
        //it causes some flicker when reloading or navigating grid
        //it may be possible to have some custom formatter to do this as the grid is being created to prevent this
        //or go back to default browser checkbox styles for the grid
        function styleCheckbox(table) {
        /**
          $(table).find('input:checkbox').addClass('ace')
          .wrap('<label />')
          .after('<span class="lbl align-top" />')
      
      
          $('.ui-jqgrid-labels th[id*="_cb"]:first-child')
          .find('input.cbox[type=checkbox]').addClass('ace')
          .wrap('<label />').after('<span class="lbl align-top" />');
        */
        }
        
      
        //unlike navButtons icons, action icons in rows seem to be hard-coded
        //you can change them like this in here if you want   //修改 删除form的样式  
        function updateActionIcons(table) {
          /**
          var replacement = 
          {
            'ui-icon-pencil' : 'icon-pencil blue',
            'ui-icon-trash' : 'icon-trash red',
            'ui-icon-disk' : 'icon-ok green',
            'ui-icon-cancel' : 'icon-remove red'
          };
          $(table).find('.ui-pg-div span.ui-icon').each(function(){
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
          })
          */
        }
        
        //replace icons with FontAwesome icons like above   //更新分页图标  
        function updatePagerIcons(table) {
          var replacement = 
          {
            'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
            'ui-icon-seek-next' : 'icon-angle-right bigger-140',
            'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
          };
          $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            
            if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
          })
        }
      
        function enableTooltips(table) {
          $('.navtable .ui-pg-button').tooltip({container:'body'});
          $(table).find('.ui-pg-div').tooltip({container:'body'});
        }
      
        //var selr = jQuery(grid_selector).jqGrid('getGridParam','selrow');
      	//绑定事件 执行删除  
  	    $("#refresh_grid-table").on("click", '.icon-refresh', function () { 

            // $(grid_selector).trigger("reloadGrid");
            $(grid_selector).jqGrid('setGridParam',{postData:{"organize.organizeId":""}}).trigger('reloadGrid');

  	    	  // // alert(11111);return; 
  	       //  var selectedRowIds = $(grid_selector).jqGrid("getGridParam", "selarrrow");  
  	       //  var len = selectedRowIds.length;  
  	       //  if (len != 0) {  
  	       //      if (confirm("确定要删除选中项？")) {  
  	       //          for (var i = 0; i < len; i++) {  
  	       //              var rowData = $(grid_selector).jqGrid('getRowData', selectedRowIds[i]);  
  	       //              $.post("{:U('Admin/Site/device_del')}", { id: rowData.ProductId }, function (data) {  
  	       //                  $(grid_selector).jqGrid("delRowData", selectedRowIds[0]);  
  	       //              });  
  	       //          }  
  	       //      }  
  	       //  } else {  
  	       //      alert("未勾选");  
  	       //  }  
  	    });  

  	    //初使化按钮操作权限
        var page="{$page}";
        _init_button_operate(page);
      
      });
    </script>
    
    <!-- 模板引擎doT.js    start -->
    <script id="j-tmpl" type="text/template">
      					<tr>
      						<td class="center">
      							<div class="layui-inline">
      							  <div class="layui-form-item">
      							  	<label class="layui-form-label tr_row">车型</label>
      							    <div class="layui-input-inline">
      							      <select name="interest" lay-filter="aihao">
      							        <option value="请选择车型">请选择车型</option>
      							        <option value="A">A</option>
      							        <option value="B">B</option>
      							        <option value="C">C</option>
      							        <option value="D">D</option>
      							      </select>
      							    </div>
      							  </div>
      							</div> 
      						</td>
      						<td>
      							<div class="layui-inline">
                                    <div class="layui-form-item">
                                      <label class="layui-form-label">数量</label>
                                      <div class="layui-input-inline">
                                        <input type="text" name="keyword" lay-verify="required" placeholder="数量" autocomplete="off" class="layui-input">
                                      </div>
                                    </div>
                                  </div>
      						</td>
      						<td>
      							<div class="layui-inline">
                                    <div class="layui-form-item">
                                      <label class="layui-form-label">日消耗</label>
                                      <div class="layui-input-inline">
                                        <input type="text" name="keyword" lay-verify="required" placeholder="日消耗" autocomplete="off" class="layui-input">
                                      </div>
                                    </div>
                                  </div> 
      						</td>
      						<td>
      							
      						</td>
      					</tr>
    </script>
    <script src="__PUBLIC__/Admin/doT-master/doT.js"></script>
    <script type="text/javascript">
        $(function(){
            var tmpl = document.getElementById('j-tmpl').innerHTML;
            console.log(tmpl);
            
            
            $('.add_row').click(function(){
                $('#sample-table-1 tbody').append(tmpl);

                //重新更新name属性
                $.each($('#sample-table-1 tbody tr'), function(name, value) {
                    var _index=name;
                    $(this).find('.item-1').attr('name','CarID_'+_index);
                    $(this).find('.item-2').attr('name','Num_'+_index);
                    $(this).find('.item-3').attr('name','DayNum_'+_index);
                });
                
                layui.form().render();

                var num=1;
                $.each($('#sample-table-1 tbody tr .tr_row'), function(name, value) {
                	$(this).html("车型"+num);
                    num++;
                });
            });

            //smartMenu右键自定义上下文菜单插件初使化
            Fn_Init_smartMenu();
            
            $('.ui-state-default.ui-jqgrid-hdiv').click(function(){
                Fn_Init_smartMenu();
            });

            $('.ui-jqgrid-bdiv').click(function(){
                Fn_Init_smartMenu();
            });

            
        });
    </script>
    <!-- 模板引擎doT.js    end -->
    



    <!-- jQuery smartMenu右键自定义上下文菜单插件  start -->
    <script type="text/javascript" src="__PUBLIC__/Admin/jquery-smartMenu/js/jquery-smartMenu.js"></script>
    <script>
        function Fn_Init_smartMenu(){
            var chkSingle = $("th input"), chkGroup = $("td input");
            var funTrStyle = function() {
              chkGroup.each(function() {
                if ($(this).attr("checked")) {
                  $(this).parents("tr").addClass("bg"); 
                } else {
                  $(this).parents("tr").removeClass("bg");  
                }
              });
            }, funTrGet = function() {
              return  $("td input:checked").parents("tr");
            };

            chkSingle.bind("click", function() {
              if ($(this).attr("checked")) {
                chkGroup.attr("checked", "checked");
              } else {
                chkGroup.attr("checked", "");
              }
              funTrStyle(); 
            });

            chkGroup.bind("click", funTrStyle);
            funTrStyle();

            //自定义右键上下文
            var objDelete = {
              text: "删除",
              func: function() {
                  $('#del_grid-table').trigger('click');
              } 
            }, objShow = {
              text: "查看",
              func: function() {
                  $('#view_grid-table').trigger('click');
              } 
            }, objEdit = {
              text: "编辑",
              func: function() {
                  $('#edit_grid-table').trigger('click');
              }
            }, objUnRead = {}, objSend = {};

            var mailMenuData = [
              [objDelete, objShow]
            ];

            $("#grid-table>tbody>tr").smartMenu(mailMenuData, {
              name: "mail",
              beforeShow: function() {    
                //根据选中的是否是已读显示不同的上下文菜单
                $(this).find("input").attr("checked", "checked"); 
                funTrStyle();

                //动态数据，及时清除
                $.smartMenu.remove();

                //确定显示数据 - 主要是已读与未读
                var numTrBold = 0, numTrNormal = 0, eleTr = funTrGet();
                eleTr.each(function() {
                  if ($(this).css("font-weight") === "700") {
                    numTrBold++; 
                  } 
                  if ($(this).css("font-weight") === "400") {
                    numTrNormal++;  
                  }
                });

                if (eleTr.size() === numTrBold) {
                  //全是粗体  
                  mailMenuData[1] = [objEdit];
                } else if (eleTr.size() === numTrNormal) {
                  //全是正常
                  mailMenuData[1] = [objEdit];
                } else {
                  //混杂
                  mailMenuData[1] = [objEdit];
                }
              }
            });
        }
    </script>
    <!-- jQuery smartMenu右键自定义上下文菜单插件  end -->

     <!-- 确认弹框 start-->
     <div id="dialog-confirm_insert" class="hide">
       <form class="layui-form layui-form-pane col-xs-12">
	       <table id="sample-table_add" class="table table-striped table-bordered table-hover">
	         <tbody>
	           <tr>
	             <td class="center">
	               <div class="layui-inline">
	                 <div class="layui-form-item">
	                   <label class="layui-form-label">模具</label>
	                   <div class="layui-input-inline">
	                     <select name="CarID_0">
					        <option value="请选择">请选择</option>
					        <option value="A">A</option>
					        <option value="B">B</option>
					        <option value="C">C</option>
					        <option value="D">D</option>
					      </select>
	                   </div>
	                 </div>
	               </div>
	             </td>
	             <td>
	               <div class="layui-inline">
	                 <div class="layui-form-item">
	                   <label class="layui-form-label">数量</label>
	                   <div class="layui-input-inline">
	                     <input type="text" name="username"  placeholder="" autocomplete="off" class="layui-input">
	                   </div>
	                 </div>
	               </div>
	             </td>
	           </tr>
	         </tbody>
	         <tfoot>
	           <tr>
	             <td colspan="2" style="text-align:right;">
	               <input type="text" name="img" id="add_img" class="layui-input" style="display:none;">
	               <button class="layui-btn" lay-submit="" lay-filter="demo1_insert">确认</button>
	             </td>
	           </tr>
	         </tfoot>
	       </table>
	    </form>
     </div><!-- #dialog-confirm -->

     <!-- 确认弹框 start-->
     <div id="dialog-confirm_edit" class="hide">
       <form class="layui-form layui-form-pane col-xs-12">
	       <table id="sample-table_add" class="table table-striped table-bordered table-hover">
	         <tbody>
	           <tr>
	             <td class="center">
	               <div class="layui-inline">
	                 <div class="layui-form-item">
	                   <label class="layui-form-label">数量</label>
	                   <div class="layui-input-inline">
	                     <input type="text" name="number"  placeholder="" autocomplete="off" class="layui-input">
	                   </div>
	                 </div>
	               </div>
	             </td>
	           </tr>
	         </tbody>
	         <tfoot>
	           <tr>
	             <td colspan="2" style="text-align:right;">
	               <input type="text" name="img" id="add_img" class="layui-input" style="display:none;">
	               <button class="layui-btn" lay-submit="" lay-filter="demo1_insert">确认</button>
	             </td>
	           </tr>
	         </tfoot>
	       </table>
	    </form>
     </div><!-- #dialog-confirm -->
     <script type="text/javascript">
         $(function(){
             $( ".id-btn-dialog2_edit" ).on('click', function(e) {
               e.preventDefault();
               
               $( "#dialog-confirm_edit" ).removeClass('hide').dialog({
                 resizable: false,
                 modal: true,
                 title: "",
                 title_html: true,
               });

               $("div[aria-describedby='dialog-confirm_edit'] div span.ui-dialog-title").html("<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 修改：</h4></div>");
             });

             $( ".id-btn-dialog2_insert" ).on('click', function(e) {
               e.preventDefault();
               
               $( "#dialog-confirm_insert" ).removeClass('hide').dialog({
                 resizable: false,
                 modal: true,
                 title: "",
                 width:800,
                 title_html: true,
               });

               $("div[aria-describedby='dialog-confirm_insert'] div span.ui-dialog-title").html("<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 插入：</h4></div>");
             });


             //生成
             $(function(){
                $('#shengcheng_btn').click(function(){
                    $('#paicheng_info_btn,#paicheng_info_box').show();
                });
             });



             $( "#grid-table tbody").sortable();
             $( "#grid-table tbody").disableSelection();
         });
     </script>
     <!-- 确认弹框 end-->


     <script src="__ROOT__/echart/echarts.min.js"></script>
     <script type="text/javascript">
         $(function(){
             //数据列表初使化
             jQuery.support.cors=true;

             // var nip="10.110.132.12";
             // var wip="139.199.162.168";
             // if(wlan==1){
             //     ip=wip;
             // }else{
             //     ip=nip;
             // }
             // var _hour=[];
             // var _count=[];
             // _ajax_get_data();

             // //获取数据
             // function _ajax_get_data(){
             //     $.ajax({  
             //         async:false,
             //         type:'get',  
             //         url : 'http://'+ip+':2432/App/productCount',
             //         data:{'workNames':'UB20,UB30,UB40,UB50,UB60,UB70,UB80,UB90,UB100'},
             //         dataType : 'json',
             //         success  : function(json) {  
             //             console.log(json);
             //             if(json.tfmark){
             //                 $.each(json.data, function(i, value) {
             //                     _hour.push(value.hour); 
             //                     _count.push(value.count); 
             //                 });
             //             }
             //         },
             //         error  : function(json) {  
             //             // layer.msg(json.msg);
             //         }  
             //     });  
             // } 

             // 基于准备好的dom，初始化echarts图表
             var myChart = echarts.init(document.getElementById('echart_pie')); 

             var option = {
                 tooltip: {
                     trigger: 'axis'
                 },
                 toolbox: {
                     feature: {
                         dataView: {show: true, readOnly: false},
                         magicType: {show: true, type: ['line', 'bar']},
                         restore: {show: true},
                         saveAsImage: {show: true}
                     }
                 },
                 legend: {
                     data:['零部件']
                 },
                 xAxis: [
                     {
                         type: 'category',
                         data: ['1天','2天','3天','4天','5天','6天','7天','8天','9天','10天','11天','12天']
                     }
                 ],
                 yAxis: [
                     {
                         type: 'value',
                         name: '数量',
                         min: 0,
                         max: 10,
                         interval: 2,
                         axisLabel: {
                             formatter: '{value}'
                         }
                     }
                 ],
                 series: [
                     {
                         name:'零部件',
                         type:'bar',
                         data:[5, 4, 5, 4, 6, 7, 5, 5, 6, 5, 6, 3]
                     }
                 ]
             };





             // 为echarts对象加载数据 
             myChart.setOption(option); 
         });
     </script>


     <script>
     layui.use(['form', 'layedit', 'laydate'], function(){
       var form = layui.form()
       ,layer = layui.layer
       ,layedit = layui.layedit
       ,laydate = layui.laydate;

       var start = {
         min: laydate.now()
         ,max: '2099-06-16 23:59:59'
         ,istoday: false
         ,choose: function(datas){
           end.min = datas; //开始日选好后，重置结束日的最小日期
           end.start = datas //将结束日的初始值设定为开始日
         }
       };

       var end = {
         min: laydate.now()
         ,max: '2099-06-16 23:59:59'
         ,istoday: false
         ,choose: function(datas){
           start.max = datas; //结束日选好后，重置开始日的最大日期
         }
       };

       //创建一个编辑器
       var editIndex = layedit.build('LAY_demo_editor');

       //自定义验证规则
       form.verify({
         title: function(value){
           if(value.length < 5){
             return '标题至少得5个字符啊';
           }
         }
         ,pass: [/(.+){6,12}$/, '密码必须6到12位']
         ,content: function(value){
           layedit.sync(editIndex);
         }
       });


       //监听提交
       form.on('submit(demo1_paicheng)', function(data){

           var _length=$('#sample-table-1 tbody tr').length;
           var _____str="[";

           for (var i = 0; i < _length; i++) {
               _____str+='{';
               $.each(data.field, function(name, value) {
              
                   if(name=="CarID_"+i){
                       _____str+='"CarID"'+":"+'"'+value+'",';
                   }
                   if(name=="Num_"+i){
                       _____str+='"Num"'+":"+'"'+value+'",';
                   }
                   if(name=="DayNum_"+i){
                       _____str+='"DayNum"'+":"+'"'+value+'"';
                   }
               });

               if(i+1==_length){
                   _____str+='}';
               }else{
                   _____str+='},';
               }
               
           };

           _____str+="]";


       
           var ___final_str='{"data":'+_____str+'}';
			layer.msg(___final_str);
           // var _json=_ajax_add_lailiao_plan(___final_str);
           // layer.msg(_json.msg);
           return false;
       });


		//监听提交
       form.on('submit(demo1_insert)', function(data){

           return false;
       });

     });
     </script>
  </body>
</html>

