<include file="Public/header"/>
    <!-- basic styles -->
    <link href="__PUBLIC__/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome.min.css" />

    <!--[if IE 7]>
      <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/font-awesome-ie7.min.css" />
    <![endif]-->

    <!-- page specific plugin styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/jquery-ui-1.10.3.custom.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/chosen.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/bootstrap-timepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/daterangepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/colorpicker.css" />
    
    <!-- 模块jqgrid  start -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/jquery-ui-1.10.3.full.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/datepicker.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ui.jqgrid.css" />
    <!-- 模块jqgrid  end -->

    <!-- fonts -->
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/Admin/assets/css/google_font_css.css">

    <!-- ace styles -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-skins.min.css" />

    <!-- jQuery smartMenu右键自定义上下文菜单插件  start -->
    <link rel="stylesheet" href="__PUBLIC__/Admin/jquery-smartMenu/css/smartMenu.css" type="text/css" />
    <!-- jQuery smartMenu右键自定义上下文菜单插件  end -->

    <link rel="stylesheet" href="__PUBLIC__/Admin/layui-v1.0.4/layui/css/layui.css"  media="all">
    <link rel="stylesheet" href="__PUBLIC__/Admin/css/my_diy_css.css"  media="all">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="__PUBLIC__/Admin/assets/css/ace-ie.min.css" />
    <![endif]-->

    <!-- inline styles related to this page -->

    <!-- ace settings handler -->

    <script src="__PUBLIC__/Admin/assets/js/ace-extra.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jquery.min.js"></script>
    <!-- layui.js   -->
    <script src="__PUBLIC__/Admin/layui-v1.0.4/layui/layui.js"></script>
    <script src="__PUBLIC__/layer/layer.js"></script>
<script>

  

</script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->



    <!--[if lt IE 9]>

    <script src="__PUBLIC__/Admin/assets/js/html5shiv.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/respond.min.js"></script>

    <![endif]-->

  </head>

  <body>
    <div class="navbar navbar-default" id="navbar">
      <include file="Public/navbar"/>
    </div>

    <div class="main-container" id="main-container">

      <script type="text/javascript">
        try{ace.settings.check('main-container' , 'fixed')}catch(e){}
      </script>

      <div class="main-container-inner">
        <a class="menu-toggler" id="menu-toggler" href="#">
          <span class="menu-text"></span>
        </a>

        <!-- 左侧菜单栏 start-->
        <div class="sidebar" id="sidebar">
          <include file="Public/left"/>
        </div>
        
        <!-- 右侧主要内容 start-->
        <div class="main-content" style="overflow: hidden;">
          

          <!-- 右block_1  start -->
          <div class="breadcrumbs" id="breadcrumbs">
            <script type="text/javascript">
              try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
            </script>

            <ul class="breadcrumb">
              <include file="Public/_breadcrumb"/>
            </ul><!-- .breadcrumb -->

            <div class="nav-search" id="nav-search">
              <form class="form-search">
                <span class="input-icon">
                  <input type="text" placeholder="Search ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
                  <i class="icon-search nav-search-icon"></i>
                </span>
              </form>
            </div><!-- #nav-search -->
          </div>
          <!-- 右block_1  end -->
<!--     <a href="javascript:void(0)" id="hcg">Hide column</a>
    <a href="javascript:void(0)" id="scg">Show column</a> -->
          <div class="page-content">

            <div class="row">
              <div class="col-xs-12">
             
                <!-- 搜索  start -->
                <div class="row">
                    <form class="layui-form layui-form-pane col-xs-12" action="" method="post">
                        <table class="layui-table">
                          <thead>
                            <tr>
                              <th>搜索</th>
                            </tr> 
                          </thead>
                          <tbody>
                            <tr>
                              <td>

                                <div class="layui-inline" style="margin-top: 5px;">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">用户名</label>
                                    <div class="layui-input-inline">
                                      <input type="text" name="username" value="{$_POST['username']}" placeholder="请输入" autocomplete="off" class="layui-input">
                                    </div>
                                  </div>
                                </div>  
                                
                                <div class="layui-inline" style="margin-top: 5px;">
                                  <div class="layui-form-item">
                                    <label class="layui-form-label">用户组</label>
                                    <div class="layui-input-inline">
                                      <select name="gid">
                                        <option value="请选择">请选择</option>
                                        <foreach name="group" item="v">
                                            <option value="{$v.id}" <if condition="$v.id eq $_POST['gid']">selected</if>>{$v.title}</option>
                                        </foreach>
                                      </select>
                                    </div>
                                  </div>
                                </div>  

                              </td>
                            </tr>
                          </tbody>
                          <tfoot>
                            <tr>
                              <td>
                                <button style="float:left;" class="layui-btn" id="id-btn-dialog2_add"> 添加 </button>
                                <button style="float:right;" type="submit" class="layui-btn" name="submit" title="搜索">搜索</button>
                              </td>
                            </tr> 
                          </tfoot>
                        </table>
                    </form>
                </div>
                <!-- 搜索  end -->

                <div class="row">
                    <div class="col-xs-6">
                        <table id="grid-table"></table>
                        <div id="grid-pager"></div>
                    </div>

                    <div class="col-xs-6">
                        <table id="list10_d"></table>
                        <div id="pager10_d"></div>
                    </div>
                </div>

                <!-- PAGE CONTENT ENDS -->
              </div><!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.page-content -->

        </div><!-- /.main-content -->
        <!-- 右侧主要内容 end-->

        
        
        <!-- 模板相关设置 -->
        <include file="Public/ace-settings-container"/>

      </div><!-- /.main-container-inner -->



      <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse">

        <i class="icon-double-angle-up icon-only bigger-110"></i>

      </a>

    </div><!-- /.main-container -->

    <!-- 底栏版本说明 -->
    <include file="Public/footer"/>

    <!-- basic scripts -->

    <!--[if !IE]> -->



    <!-- <![endif]-->



    <!--[if IE]>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

<![endif]-->



    <!--[if !IE]> -->



    <script type="text/javascript">

      window.jQuery || document.write("<script src='assets/js/jquery-2.0.3.min.js'>"+"<"+"/script>");

    </script>



    <!-- <![endif]-->



    <!--[if IE]>

<script type="text/javascript">

 window.jQuery || document.write("<script src='assets/js/jquery-1.10.2.min.js'>"+"<"+"/script>");

</script>

<![endif]-->



    <script type="text/javascript">

      if("ontouchend" in document) document.write("<script src='assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");

    </script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/typeahead-bs2.min.js"></script>



    <!-- page specific plugin scripts -->

    <script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.custom.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/chosen.jquery.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/fuelux/fuelux.spinner.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-timepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/moment.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/date-time/daterangepicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap-colorpicker.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.knob.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.autosize.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.inputlimiter.1.3.1.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.maskedinput.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/bootstrap-tag.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/jquery.dataTables.bootstrap.js"></script>
    
    <!-- 模块jqgrid  start -->
    <script src="__PUBLIC__/Admin/assets/js/date-time/bootstrap-datepicker.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jqGrid/jquery.jqGrid.min.js"></script>
    <!-- <script src="__PUBLIC__/Admin/assets/js/jqGrid/i18n/grid.locale-en.js"></script> -->
    <script src="__PUBLIC__/Admin/assets/js/jqGrid/i18n/grid.locale-zh.js"></script>
    
    <script src="__PUBLIC__/Admin/assets/js/jquery-ui-1.10.3.full.min.js"></script>
    <script src="__PUBLIC__/Admin/assets/js/jquery.ui.touch-punch.min.js"></script>
    <!-- 模块jqgrid  end -->

    <!-- ace scripts -->
    <script src="__PUBLIC__/Admin/assets/js/jquery.nestable.min.js"></script>


    <script src="__PUBLIC__/Admin/assets/js/ace-elements.min.js"></script>

    <script src="__PUBLIC__/Admin/assets/js/ace.min.js"></script>

    

    <!-- inline scripts related to this page -->


    <script type="text/javascript">
      $(function(){
          pageInit();
      });

      //自定义报警列格式
      function imgFormatter(cellvalue, options, rowdata)
      { 
        console.log(cellvalue);
        console.log(options);
        console.log(rowdata);
          if (cellvalue != "0")
              return '<img class="avatar" style="width:30px;height:30px;" src="'+cellvalue+'" alt="' + cellvalue + '" />';
          else 
              return '<img class="avatar" style="width:30px;height:30px;" src="'+cellvalue+'" alt="' + cellvalue + '" />';
      }


      function pageInit(){
        var grid_selector = "#grid-table";
        var pager_selector = "#grid-pager";

        var _username="{$_POST['username']}";
        var _gid="{$_POST['gid']}";
        var grid_data=_ajax_list_device(_username,_gid);

        jQuery(grid_selector).jqGrid({
          caption: "用户列表",
          data: grid_data,
          datatype: "local",
          height: 430,
          colNames:['id', '姓名', '用户名','用户组', '头像', '注册时间', '操作'],
          colModel:[
            {name:'id', index:'id', sorttype:"int", align:"center", hidden: true, editable: true ,sortable: false},

            {name:'truename',index:'truename',align:"center"},
            {name:'username',index:'username',align:"center"},
            {name:'_auth_group_title',index:'_auth_group_title',align:"center"},
            {name:'img',index:'img',align:"center", formatter: imgFormatter },
            {name:'register_time',index:'register_time',align:"center"},

            {name:'Operates',index:'Operates',align:'center',sortable:false,width:200}
          ], 
          rownumbers:true,
          rownumWidth:50,//设置行号列宽度
          // sortname:"id",//指定默认排序的列
          // sortorder:"desc",//指定默认排序方式
          autowidth:true,
          shrinkToFit:true,//ture，则按比例初始化列宽度。如果为false，则列宽度使用colModel指定的宽度
          // width:window.srceen.availWidth-20,
          viewrecords : true,
          rowNum:10,
          rowList:[10,20,30],
          pager : pager_selector,
          altRows: true,
          //toppager: true,
          width:'100%',
          multiselect: true,
          multiboxonly: true,

      
          loadComplete : function() {
            var table = this;
            setTimeout(function(){
              updatePagerIcons(table);
            }, 0);
          },

          onSelectRow : function(ids) {
            if (ids == null) {
              ids = 0;
              if (jQuery("#list10_d").jqGrid('getGridParam','records') > 0) {
                jQuery("#list10_d").jqGrid('setGridParam',
                    {
                      url : "index.php?s=/Admin/User/ajax_get_user_relation_logs.html&id=" + ids,
                      page : 1
                    });
                jQuery("#list10_d").jqGrid('setCaption',"操作日志: " + ids).trigger('reloadGrid');
              }
            } else {
              jQuery("#list10_d").jqGrid('setGridParam', {
                url : "index.php?s=/Admin/User/ajax_get_user_relation_logs.html&id=" + ids,
                page : 1
              });
              jQuery("#list10_d").jqGrid('setCaption',"操作日志: " + ids).trigger('reloadGrid');
            }
          },

          gridComplete:function(){  //在此事件中循环为每一行添加修改和删除链接
              var ids=jQuery(grid_selector).jqGrid('getDataIDs');
              for(var i=0; i<ids.length; i++){

                  var id=ids[i];   
                  var _rowData = $(grid_selector).jqGrid('getRowData',id);

                  var operate =""; 
                  operate += "<button style='margin-right:5px;' class='btn btn-warm btn-xs id-btn-dialog2_show operate_btn' data-id='"+_rowData.id+"'>查看</button>";
                  operate += "<button style='margin-right:5px;' class='btn btn-primary btn-xs id-btn-dialog2_edit operate_btn' data-id='"+_rowData.id+"'>编辑</button>";
                  operate += "<button class='btn btn-danger btn-xs id-btn-dialog2_del operate_btn' data-id='"+_rowData.id+"'>删除</button>";

                  jQuery(grid_selector).jqGrid('setRowData', ids[i], { Operates: operate });
              }
          },

      
        });



        jQuery("#hcg").click(function() {
            var len=$(grid_selector).getGridParam("width");
            $(grid_selector).setGridParam().hideCol("username");
            $(grid_selector).setGridWidth(len);
        });
        jQuery("#scg").click(function() {
            var len=$(grid_selector).getGridParam("width");
            $(grid_selector).setGridParam().showCol("username");
            $(grid_selector).setGridWidth(len);
        });

        
        jQuery("#list10_d").jqGrid({
          
          url : "index.php?s=/Admin/User/ajax_get_user_relation_logs.html&id=0",
          datatype: "json",
          colNames:['id', '用户名', '时间', '操作'],
          colModel:[
            {name:'id', index:'id', sorttype:"int", align:"center", hidden: true, editable: true ,sortable: false},

            {name:'username',index:'username',align:"center", editable: true,editrules: { required: true }},
            {name:'time',index:'time',align:"center", editable: true,editrules: { required: true }},
            {name:'url',index:'url',align:'center',sortable:false}
          ], 
          rownumbers:true,
          rownumWidth:50,//设置行号列宽度
          rowNum:10,
          rowList:[10,100,1000],
          pager : '#pager10_d',
          viewrecords : true,
          autowidth:true,
          shrinkToFit:true,//ture，则按比例初始化列宽度。如果为false，则列宽度使用colModel指定的宽度
          height : 430,
          caption : "操作日志"
        }).navGrid('#pager10_d', {
          add : false,
          edit : false,
          del : false
        });
        jQuery("#ms1").click(function() {
          var s;
          s = jQuery("#list10_d").jqGrid('getGridParam', 'selarrrow');
          alert(s);
        });
      
        //replace icons with FontAwesome icons like above   //更新分页图标  
        function updatePagerIcons(table) {
          var replacement = 
          {
            'ui-icon-seek-first' : 'icon-double-angle-left bigger-140',
            'ui-icon-seek-prev' : 'icon-angle-left bigger-140',
            'ui-icon-seek-next' : 'icon-angle-right bigger-140',
            'ui-icon-seek-end' : 'icon-double-angle-right bigger-140'
          };
          $('.ui-pg-table:not(.navtable) > tbody > tr > .ui-pg-button > .ui-icon').each(function(){
            var icon = $(this);
            var $class = $.trim(icon.attr('class').replace('ui-icon', ''));
            
            if($class in replacement) icon.attr('class', 'ui-icon '+replacement[$class]);
          })
        }
      
      }
    </script>
   
    
    <!-- 模板引擎doT.js    start -->
    <script id="j-tmpl" type="text/template">
        <tr>
          <td class="center">
            <div class="layui-inline">
              <div class="layui-form-item">
                <div class="layui-input-inline">
                  <input class="layui-input" placeholder="板料计划时间" onclick="layui.laydate({elem: this, istime: true, format: 'YYYY-MM-DD hh:mm:ss'})">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="layui-inline">
              <div class="layui-form-item">
                <div class="layui-input-inline">
                  <input type="text" name="keyword" lay-verify="required" placeholder="板料名称" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-2">
                </div>
              </div>
            </div>
            <div class="layui-inline" style="display:none;">
              <div class="layui-form-item">
                <div class="layui-input-inline">
                  <input type="text" name="keyword" lay-verify="required" placeholder="" autocomplete="off" class="layui-input id-btn-dialog2_bl_info item-3">
                </div>
              </div>
            </div>
          </td>
          <td>
            <div class="layui-inline">
              <div class="layui-form-item">
                <div class="layui-input-inline">
                  <input type="text" name="keyword" lay-verify="required" placeholder="数量" autocomplete="off" class="layui-input item-4">
                </div>
              </div>
            </div> 
          </td>
          <td>
          </td>
        </tr>
    </script>

    <script id="j-tmpl_detail_show" type="text/template">
        {{ if(it.code == 0){ }}

            <table class="layui-table">
              <colgroup>
                <col width="150">
                <col>
              </colgroup>
              <tbody>
                <tr>
                  <td>姓名</td>
                  <td>{{=it.data.truename}}</td>
                </tr>
                <tr>
                  <td>用户名</td>
                  <td>{{=it.data.username}}</td>
                </tr>
              </tbody>
            </table>

        {{ }else{ }}

                <h2>暂无数据</h2>

        {{ } }}
    </script>

    
    <script src="__PUBLIC__/Admin/doT-master/doT.js"></script>
    <script type="text/javascript">
        $(function(){
            //smartMenu右键自定义上下文菜单插件初使化
            Fn_Init_smartMenu();
            
            $('.ui-state-default.ui-jqgrid-hdiv').click(function(){
                Fn_Init_smartMenu();
            });

            $('.ui-jqgrid-bdiv').click(function(){
                Fn_Init_smartMenu();
            });
            
        });
    </script>
    <!-- 模板引擎doT.js    end -->
    



    <!-- jQuery smartMenu右键自定义上下文菜单插件  start -->
    <script type="text/javascript" src="__PUBLIC__/Admin/jquery-smartMenu/js/jquery-smartMenu.js"></script>
    <script>
        function Fn_Init_smartMenu(){
            var chkSingle = $("th input"), chkGroup = $("td input");
            var funTrStyle = function() {
              chkGroup.each(function() {
                if ($(this).attr("checked")) {
                  $(this).parents("tr").addClass("bg"); 
                } else {
                  $(this).parents("tr").removeClass("bg");  
                }
              });
            }, funTrGet = function() {
              return  $("td input:checked").parents("tr");
            };

            chkSingle.bind("click", function() {
              if ($(this).attr("checked")) {
                chkGroup.attr("checked", "checked");
              } else {
                chkGroup.attr("checked", "");
              }
              funTrStyle(); 
            });

            chkGroup.bind("click", funTrStyle);
            funTrStyle();

            //自定义右键上下文
            var objDelete = {
              text: "删除",
              func: function() {
                  $('#del_grid-table').trigger('click');
              } 
            }, objShow = {
              text: "查看",
              func: function() {
                  $('#view_grid-table').trigger('click');
              } 
            }, objEdit = {
              text: "编辑",
              func: function() {
                  $('#edit_grid-table').trigger('click');
              }
            }, objUnRead = {}, objSend = {};

            var mailMenuData = [
              [objDelete, objShow]
            ];

            $("#grid-table>tbody>tr").smartMenu(mailMenuData, {
              name: "mail",
              beforeShow: function() {    
                //根据选中的是否是已读显示不同的上下文菜单
                $(this).find("input").attr("checked", "checked"); 
                funTrStyle();

                //动态数据，及时清除
                $.smartMenu.remove();

                //确定显示数据 - 主要是已读与未读
                var numTrBold = 0, numTrNormal = 0, eleTr = funTrGet();
                eleTr.each(function() {
                  if ($(this).css("font-weight") === "700") {
                    numTrBold++; 
                  } 
                  if ($(this).css("font-weight") === "400") {
                    numTrNormal++;  
                  }
                });

                if (eleTr.size() === numTrBold) {
                  //全是粗体  
                  mailMenuData[1] = [objEdit];
                } else if (eleTr.size() === numTrNormal) {
                  //全是正常
                  mailMenuData[1] = [objEdit];
                } else {
                  //混杂
                  mailMenuData[1] = [objEdit];
                }
              }
            });
        }
    </script>
    <!-- jQuery smartMenu右键自定义上下文菜单插件  end -->


    <!-- ============================= -->
    <style type="text/css">
        .site-demo-upload,
        .site-demo-upload img{width: 200px; height: 200px; border-radius: 100%;margin:0 auto;}
        .site-demo-upload{position: relative; background: #e2e2e2;}
        .site-demo-upload .site-demo-upbar{position: absolute; top: 50%; left: 50%; margin: -18px 0 0 -56px;}
        .site-demo-upload .layui-upload-button{background-color: rgba(0,0,0,.2); color: rgba(255,255,255,1);}
    </style>
    <!-- 确认弹框 start-->
    <div id="dialog-confirm_add" class="hide">
       <div class="row">
              <table class="table table-striped table-bordered table-hover">
                <tbody id="update_img_block">
                  <tr>
                    <td colspan="2" style="text-align:center;">
                      <div class="site-demo-upload">
                        <img id="LAY_demo_upload_add" src="__PUBLIC__/Admin/images/tong.jpg">
                        <div class="site-demo-upbar">
                          <input type="file" name="img" class="layui-upload-file avatar" id="add_upload_img">
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

             <form class="layui-form layui-form-pane col-xs-12">
                <table id="sample-table_add" class="table table-striped table-bordered table-hover">
                  <tbody>
                    <tr>
                      <td class="center">
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">姓名</label>
                            <div class="layui-input-inline">
                              <input type="text" name="truename" lay-verify="truename" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                              <input type="text" name="username" lay-verify="username" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="center">
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-inline">
                              <input type="text" name="password" lay-verify="password" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">用户组</label>
                            <div class="layui-input-inline">
                              <select name="interest" lay-filter="group">
                                <option value="请选择">请选择</option>
                                <foreach name="group" item="v">
                                  <option value="{$v.id}">{$v.title}</option>
                                </foreach>
                              </select>
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td class="center">
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">邮箱</label>
                            <div class="layui-input-inline">
                              <input type="text" name="email" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                          </div>
                        </div>
                      </td>
                      <td>
                        <div class="layui-inline">
                          <div class="layui-form-item">
                            <label class="layui-form-label">手机</label>
                            <div class="layui-input-inline">
                              <input type="text" name="phone" placeholder="" autocomplete="off" class="layui-input">
                            </div>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2">
                        <div class="layui-form-item layui-form-text">
                          <div class="layui-input-block">
                            <textarea placeholder="简介" class="layui-textarea"></textarea>
                          </div>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td colspan="2" align="center">
                        <div class="layui-form-item layui-form-text">
                          <div class="layui-input-block">
                            <a class="layui-btn layui-btn-normal id-btn-dialog2_editer" data-url="{:U('Admin/Index/baidu_editer')}">百度编辑器</a>
                            <a class="layui-btn layui-btn-warm id-btn-dialog2_editer" data-url="{:U('Admin/Index/layui_editer')}">Layui编辑器</a>
                            <a class="layui-btn layui-btn-danger id-btn-dialog2_editer" data-url="{:U('Admin/Index/ace_editer')}">ace编辑器</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td colspan="2" style="text-align:right;">
                        <input type="text" name="img" id="add_img" class="layui-input" style="display:none;">
                        <button class="layui-btn" lay-submit="" lay-filter="demo1_add">添加</button>
                      </td>
                    </tr>
                  </tfoot>
                </table>
             </form>
        </div>
    </div><!-- #dialog-confirm -->

    <!-- 确认弹框 start-->
    <div id="dialog-confirm_del" class="hide">
       <div class="row">
           <form class="layui-form layui-form-pane col-xs-12">
            
            <table id="sample-table_del" class="table table-striped table-bordered table-hover">
                <tbody id="liaoliao_box">
                  <tr>
                    <td>
                      <div class="layui-inline">
                        <div class="layui-form-item">
                          <label class="layui-form-label">扫码</label>
                          <div class="layui-input-inline">
                            <input type="text" name="keyword" lay-verify="required" placeholder="" autocomplete="off" class="layui-input item-4">
                          </div>
                        </div>
                      </div> 
                    </td>
                  </tr>
                </tbody>
              </table>
           </form>
        </div>
    </div><!-- #dialog-confirm -->

    <!-- 确认弹框 start-->
    <div id="dialog-confirm_edit" class="hide">
       <div class="row">
              <table class="table table-striped table-bordered table-hover">
                <tbody id="update_img_block">
                  <tr>
                    <td colspan="2" style="text-align:center;">
                      <div class="site-demo-upload">
                        <img id="LAY_demo_upload_edit" src="__PUBLIC__/Admin/images/tong.jpg">
                        <div class="site-demo-upbar">
                          <input type="file" name="img" class="layui-upload-file avatar" id="edit_upload_img">
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>

              <form class="layui-form layui-form-pane col-xs-12">
                  <table class="table table-striped table-bordered table-hover">
                      <tbody id="edit_form_block">
                        <tr>
                          <td class="center">
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">姓名</label>
                                <div class="layui-input-inline">
                                  <input type="text" name="truename" placeholder="" autocomplete="off" class="layui-input">
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">用户名</label>
                                <div class="layui-input-inline">
                                  <input type="text" name="username" placeholder="" autocomplete="off" class="layui-input">
                                </div>
                              </div>
                            </div>
                          </td>
                        </tr>
                        <tr>
                          <td class="center">
                            <div class="layui-inline">
                              <div class="layui-form-item">
                                <label class="layui-form-label">用户组</label>
                                <div class="layui-input-inline">
                                  <select name="gid" id="edit_select_group">
                                    <option value="请选择">请选择</option>
                                    <foreach name="group" item="v">
                                        <option value="{$v.id}">{$v.title}</option>
                                    </foreach>
                                  </select>
                                </div>
                              </div>
                            </div>
                          </td>
                          <td>
                           
                          </td>
                        </tr>
                      </tbody>
                      <tfoot>
                        <tr>
                          <td colspan="2" style="text-align:right;">
                            <input type="hidden" name="img" id="edit_img" class="layui-input">
                            <input type="hidden" name="id" id="edit_id" class="layui-input">
                            <button class="layui-btn" lay-submit="" lay-filter="demo1_edit">保存</button>
                          </td>
                        </tr>
                      </tfoot>
                  </table>
              </form>
           
        </div>
    </div><!-- #dialog-confirm -->

    <!-- 确认弹框 start-->
    <div id="dialog-confirm_editer" class="hide">
        <iframe src="" id="editer" name="editer" width="100%" height="100%" frameborder="0" scrolling="no" marginwidth="0" marginheight="0"></iframe>
    </div><!-- #dialog-confirm -->
    
    <!-- 详情 start-->
    <div id="dialog-confirm_show" class="hide">
       
    </div><!-- #dialog-confirm -->
    
  
    <script type="text/javascript">
        $(function(){

            //layui表单
            layui.use(['form', 'layedit', 'laydate'], function(){
              var form = layui.form()
                ,layer = layui.layer
                ,layedit = layui.layedit
                ,laydate = layui.laydate;

              //创建一个编辑器
              var editIndex = layedit.build('LAY_demo_editor');

              //自定义验证规则
              form.verify({
                title: function(value){
                  if(value.length < 5){
                    return '标题至少得5个字符啊';
                  }
                }
                ,truename: function(value){  
                  if(value.length < 2){  
                    return '请输入真实姓名';  
                  }  
                }
                ,username: function(value){  
                  if(value.length < 4){  
                    return '请输入至少4位的用户名';  
                  }  
                }
                ,password: [/(.+){6,12}$/, '密码必须6到12位']
                ,content: function(value){
                  layedit.sync(editIndex);
                }
              });


              //监听提交
              form.on('submit(demo1)', function(data){
                var _keyword=data.field.keyword;
                get_bl_list(_keyword);
                return false;
              });


              //监听提交
              form.on('submit(list_search)', function(data){
                alert('demo1_list_search')
                var _keyword=data.field.keyword;
                get_bl_list(_keyword);
                return false;
              });

              

              //监听提交
              form.on('submit(demo1_detail)', function(data){
                alert('demo1_detail');
                console.log(data.field);
                return false;
              });
              

              //监听提交
              form.on('submit(demo1_add)', function(data){
                var _json=_ajax_add_user(data.field);


                if(_json.code==0){
                    $("div[aria-describedby='dialog-confirm_add'] .ui-dialog-titlebar-close").trigger("click");
                }
                return false;
              });


              //监听提交
              form.on('submit(demo1_edit)', function(data){

                var _json=_ajax_edit_user(data.field);

                var _data=_json.data;
                console.log(11111111111);
                console.log(_data);
                var selectID=$("#grid-table").getGridParam("selrow");

                $("#grid-table").setRowData(selectID,{"truename":_data.truename,"_auth_group_title":_data._auth_group_title, "username":_data.username, "img":"./Uploads"+_data.img});

                if(_json.code==0){
                    $("div[aria-describedby='dialog-confirm_edit'] .ui-dialog-titlebar-close").trigger("click");
                }
                return false;
              });

              //监听提交
              // form.on('submit(demo1)', function(data){
              //   layer.alert(JSON.stringify(data.field), {
              //     title: '最终的提交信息'
              //   })
              //   return false;
              // });

            });

            //添加：
            $( "body" ).on('click', '#id-btn-dialog2_add', function(e) {
              e.preventDefault();
              
              $( "#dialog-confirm_add" ).removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "",
                width:800,
                title_html: true,
              });

              $("div[aria-describedby='dialog-confirm_add'] div span.ui-dialog-title").html("<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 添加：</h4></div>");
            });

            //编辑
            $( "body" ).on('click', '.id-btn-dialog2_edit', function(e) {
              e.preventDefault();


              var _id  = $(this).attr('data-id');
              var _json = _ajax_get_user_info(_id);

              if(_json.code==0){
                  var _user=_json.data;

                  $('#LAY_demo_upload_edit').attr('src','/Uploads'+_user.img);
                  $('#edit_form_block input[name=truename]').val(_user.truename);
                  $('#edit_form_block input[name=username]').val(_user.username);
                  $('#edit_id').val(_user.id);


                  $.each($('#edit_select_group option'), function(i,value){
                    console.log($(value).val());
                      if($(value).val() == _user.gid){
                          $(this).attr('selected',true);
                      }
                  })

                  var form = layui.form();
                  form.render();
                   
              }

              $( "#dialog-confirm_edit" ).removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "",
                width:800,
                title_html: true,
              });

              $("div[aria-describedby='dialog-confirm_edit'] div span.ui-dialog-title").html("<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 编辑：</h4></div>");
            });

            //编辑器弹框
            $( "body" ).on('click', '.id-btn-dialog2_editer', function(e) {
              e.preventDefault();

              $('#editer').attr('src',$(this).attr('data-url'));
              var _editer_url=$(this).attr('data-url');

              //弹出即全屏
              var index = layer.open({
                type: 2,
                content: _editer_url,
                area: ['800px', '500px'],
                maxmin: true
              });


              // $( "#dialog-confirm_editer" ).removeClass('hide').dialog({
              //   resizable: false,
              //   modal: true,
              //   title: "",
              //   width:1000,
              //   height:500,
              //   title_html: true,
              // });

              // $("div[aria-describedby='dialog-confirm_editer'] div span.ui-dialog-title").html("<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 详情：</h4></div>");
            });



            //查看
            $( "body" ).on('click', '.id-btn-dialog2_show', function(e) {
              e.preventDefault();

              var _id  = $(this).attr('data-id');
              var _json = _ajax_get_user_info(_id);

              if(_json.code==0){
                  var _user=_json.data;

                  var tmpl = document.getElementById('j-tmpl_detail_show').innerHTML;
                  var doTtmpl = doT.template(tmpl);
                  var doT_Str=doTtmpl(_json);
                  $('#dialog-confirm_show').html(doT_Str);
              }

              
              $( "#dialog-confirm_show" ).removeClass('hide').dialog({
                resizable: false,
                modal: true,
                title: "",
                width:800,
                height:500,
                title_html: true,
                buttons: [
                  {
                    html: "<i class='icon-remove bigger-110'></i>&nbsp; 取消",
                    "class" : "btn btn-xs auto_close",
                    click: function() {
                      $( this ).dialog( "close" );
                    }
                  }
                ]
              });

              $("div[aria-describedby='dialog-confirm_show'] div span.ui-dialog-title").html("<div class='widget-header'><h4 class='smaller'><i class='icon-warning-sign red'></i> 查看：</h4></div>");
            });

            //删除
            $( "body" ).on('click', '.id-btn-dialog2_del', function(e) {
              e.preventDefault();

              if(confirm("确定要删除？")){
                  var ids=$(this).attr('data-id');
                  _ajax_del(ids);
              }

            });

        });
    </script>
    <!-- 确认弹框 end-->

    <script type="text/javascript">
       jQuery.support.cors=true;
       //初使化析料列表


       //获取列表
       function _ajax_list_device(_username,_gid){
          var grid_data;
          $.ajax({  
              async:false,
              type:'get',  
              contentType:"application/x-www-form-urlencoded",
              url : "{:U('Admin/User/ajax_get_user_list')}",
              data: {'username':_username, 'gid':_gid},
              dataType : 'json',
              success  : function(json) { 
                  if(json.code==0){
                      // layer.msg(json.msg);
                      grid_data=json.data;
                  }else{
                      layer.msg(json.msg);
                  }
              }
          });  
          return grid_data;  
       } 

       //异步获取用户关联的信息
       function _ajax_get_user_relation_logs(id){
           var _data='{"id":"'+id+'"}';

           var _json;
           $.ajax({  
               async:false,
               type:'post',  
               contentType:"application/x-www-form-urlencoded",
               url : "{:U('Admin/User/ajax_get_user_relation_logs')}",
               data: _data,
               dataType : 'json',
               success  : function(json) {  
                   if(json.code == 0){
                       layer.msg(json.msg);
                       _json=json;
                   }else{
                       layer.msg(json.msg);
                       _json=json;
                   }
               },
               error  : function() {  
                   alert('error');
               }  
           }); 
           return _json;  
       }

       //异步获取一条信息
       function _ajax_get_user_info(id){
           var _edit_data='{"id":"'+id+'"}';

           var _json;
           $.ajax({  
               async:false,
               type:'post',  
               contentType:"application/x-www-form-urlencoded",
               url : "{:U('Admin/User/ajax_get_user_info_by_id')}",
               data: _edit_data,
               dataType : 'json',
               success  : function(json) {  
                   if(json.code == 0){
                       // layer.msg(json.msg);
                       _json=json;
                   }else{
                       layer.msg(json.msg);
                       _json=json;
                   }
               },
               error  : function() {  
                   alert('error');
               }  
           }); 
           return _json;  
       }

       //异步编辑信息
       function _ajax_edit_user(data){

           var truename=data.truename;
           var gid=data.gid;
           var username=data.username;
           var img=data.img;
           var id=data.id;

           var _edit_data ='{';
               _edit_data+='"truename":"'+truename+'","gid":"'+gid+'","username":"'+username+'","img":"'+img+'","id":"'+id+'"';
               _edit_data+='}';

           var _json;
           $.ajax({  
               async:false,
               type:'post',  
               contentType:"application/x-www-form-urlencoded",
               url : "{:U('Admin/User/ajax_edit_user')}",
               data: _edit_data,
               dataType : 'json',
               success  : function(json) {  
                   if(json.code == 0){
                       // layer.msg(json.msg);
                       _json=json;
                   }else{
                       layer.msg(json.msg);
                       _json=json;
                   }
               },
               error  : function() {  
                   alert('error');
               }  
           }); 
           return _json;  
       }

       //异步添加信息
       function _ajax_add_user(data){

           var truename=data.truename;
           var username=data.username;
           var img=data.img;

           var _edit_data ='{';
               _edit_data+='"truename":"'+truename+'","username":"'+username+'","img":"'+img+'"';
               _edit_data+='}';

           var _json;
           $.ajax({  
               async:false,
               type:'post',  
               contentType:"application/x-www-form-urlencoded",
               url : "{:U('Admin/User/ajax_add_user')}",
               data: _edit_data,
               dataType : 'json',
               success  : function(json) {  
                   if(json.code == 0){
                       // layer.msg(json.msg);
                       _json=json;

                       var _row=json.data;
                       console.log(_row);
                       var operate =""; 
                       operate  = "<button style='margin-right:5px;' class='btn btn-warm btn-xs id-btn-dialog2_show operate_btn' data-id='"+_row.id+"'>查看</button>";
                       operate += "<button style='margin-right:5px;' class='btn btn-primary btn-xs id-btn-dialog2_edit operate_btn' data-id='"+_row.id+"'>编辑</button>";
                       operate += "<button class='btn btn-danger btn-xs id-btn-dialog2_del operate_btn' data-id='"+_row.id+"'>删除</button>";

                       $("#grid-table").addRowData("1", {"id":_row.id,"truename":_row.truename,"username":_row.username,"register_time":_row.register_time,"operates":_row.operate}, "first");  

                   }else{
                       layer.msg(json.msg);
                       _json=json;
                   }
               },
               error  : function() {  
                   alert('error');
               }  
           }); 
           return _json;  
       }

       //异步删除
       function _ajax_del(ids){
           var _RowID='{"ids":"'+ids+'"}';

           var _json;
           $.ajax({  
               type:'post',  
               url : "{:U('Admin/User/ajax_del')}",
               data: _RowID,
               dataType : 'json',
               success  : function(json) {  
                   if(json.code == 0){
                       layer.msg(json.msg);
                       var selectRow = $("#grid-table").jqGrid('getGridParam','selrow');
                       $("#grid-table").delRowData(selectRow);
                   }else{
                       layer.msg(json.msg);
                       _json=json;
                   }
               },
               error  : function() {  
                   layer.msg('error');
               }  
           }); 
       }
    </script>


    <script>
        layui.use('upload', function(){
          //上传文件
          layui.upload({
             url: "{:U('Admin/User/upload_img')}" //上传接口
             ,elem: '#edit_upload_img' //指定原始元素，默认直接查找class="layui-upload-file"
             ,success: function(res){ //上传成功后的回调
               console.log(res);
               if(res.code==0){
                  $('#LAY_demo_upload_edit').attr('src','/Uploads'+res.data);
                  $('#edit_img').val(res.data);
               }
             }
           });

          //上传文件
          layui.upload({
             url: "{:U('Admin/User/upload_img')}" //上传接口
             ,elem: '#add_upload_img' //指定原始元素，默认直接查找class="layui-upload-file"
             ,success: function(res){ //上传成功后的回调
               console.log(res);
               if(res.code==0){
                  $('#LAY_demo_upload_add').attr('src','/Uploads'+res.data);
                  $('#add_img').val(res.data);
               }
             }
           });
        });
    </script>

    <script>
        layui.use('layedit', function(){
          var layedit = layui.layedit
          ,$ = layui.jquery;
          
          //构建一个默认的编辑器
          var index = layedit.build('LAY_demo1');
          
          //编辑器外部操作
          var active = {
            content: function(){
              alert(layedit.getContent(index)); //获取编辑器内容
            }
            ,text: function(){
              alert(layedit.getText(index)); //获取编辑器纯文本内容
            }
            ,selection: function(){
              alert(layedit.getSelection(index));
            }
          };
          
          $('.site-demo-layedit').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
          });
          
          //自定义工具栏
          layedit.build('LAY_demo2', {
            tool: ['face', 'link', 'unlink', '|', 'left', 'center', 'right']
            ,height: 100
          })
        });
    </script>
  </body>
</html>

